[2017-06-26 10:28] TimMoore opened #839 "Support integration with AWS Kinesis using the Message Broker API"
https://aws.amazon.com/documentation/kinesis/

http://docs.aws.amazon.com/streams/latest/dev/introduction.html

Many AWS users employ Kinesis in roles similar to what Kafka is used for in other environments. Kinesis has the advantage of being managed by AWS.

Related: https://github.com/akka/alpakka/pull/318

[2017-06-26 10:32] TimMoore commented on #839
Some comparisons of Kinesis and Kafka for background:

- https://www.opsclarity.com/evaluating-message-brokers-kafka-vs-kinesis-vs-sqs/
- http://www.dani-sola.com/kafka-vs-kinesis/

[2017-06-26 11:53] erip commented on #666
lagom/sbt-lagom-descriptor-generator's build was failing prior to this update, so it'll be a little less clear to see that the changes don't affect the build. I'll leave that one for you all. 😄

[2017-06-26 14:05] erip commented on #460
Is 8001 fine? 😄

[2017-06-26 21:42] emarx commented on #708
Looks like 808 was merged!

[2017-06-26 23:14] rcavalcanti commented on #807
As discussed on Gitter, a possible solution could be to provide a `PartialFunction` that selects and transforms `Source Events` to target `Target Events`.

The current API is based on the following signatures:
[code]

The main problem I see here is that we force the user to transform the `Message` before they provide us with a `Source`. As a consequence the `Source` event type is the same as the `

[2017-06-27 00:48] TimMoore commented on #708
Yes it was. @MasterSlicer is this still something you are interested in working on?

[2017-06-27 01:03] jroper commented on #839
Just FYI, when designing the message broker APIs, Kinesis was one of the target implementations that we ensured compatibility with. It should be straight forward to support Kinesis.

[2017-06-27 01:31] #666 closed

[2017-06-27 01:34] TimMoore commented on #666
Thanks for all of your effort on this one, @erip! 🎉

We haven't reviewed & merged all of the pull requests yet, but we got all of the essential ones.

[2017-06-27 01:39] erip commented on #666
Absolutely no problem. If you need any updates, feel free to let me know.

[2017-06-27 02:01] erip commented on #834
`deprecatedOverriding` can't be used since 1.3.x won't target Scala 2.12, right?

[2017-06-27 02:06] TimMoore commented on #460
I'm probably splitting hairs at this point, but looking at https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers ... 9001 _is_ used by a few popular apps (SharePoint authoring, Tor).

It doesn't list anything for 9008, so let's go with that.

[2017-06-27 02:27] TimMoore commented on #813
`sbt-conductr` 2.3.5 is now ready with this change.

We should also update the version of `sbt-conductr` recommended in the Lagom docs.

[2017-06-27 03:05] TimMoore commented on #804
I think that the ideal way to go is:

- Duplicate `javadsl` and `scaladsl` interfaces/traits. This way, Java APIs and API docs can be written in Java/Javadoc.
- Each of the `javadsl` and `scaladsl` should use native/idiomatic types, e.g., the respective Java or Scala APIs from Akka/Play, `CompletionStage` vs. `Future`, PCollections vs. immutable Scala collections, etc.
- As much of the core logic

[2017-06-27 03:57] TimMoore commented on #764
This sounds like it's worth fixing for 1.4.0.

We'll need to keep in mind users who have previously configured things for earlier versions of Lagom. We should still respect existing configuration (with a warning).

[2017-06-27 06:07] TimMoore opened #842 "Add tests for LagomClientFactory"
There are no tests for [`LagomClientFactory`](https://github.com/lagom/lagom/blob/master/service/javadsl/integration-client/src/main/java/com/lightbend/lagom/javadsl/client/integration/LagomClientFactory.java), which makes it hard to make changes to it with any confidence that it doesn't break.

We should add integration tests that prove that it can interact with a Lagom service.

[2017-06-27 11:36] #813 closed

[2017-06-27 11:40] rcavalcanti opened #844 "Review TopicProducer API"
As discussed on Gitter, a possible solution could be to provide a `PartialFunction` that selects and transforms `Source Events` to target `Target Events`.

The current API is based on the following signatures:
[code]

The main problem I see here is that we force the user to transform the `Message` before they provide us with a `Source`. As a consequence the `Source` event type is the same as the `

[2017-06-27 21:51] erip commented on #795
Is there such a module as `lagom-testkit` currently?

[2017-06-27 23:29] erip commented on #809
If I'm understanding correctly, the proposal here is to remove `docs/build.sbt` and merge it into the root `build.sbt` while reusing the `Dependencies.scala` values as much as possible.

Is this correct?

[2017-06-28 01:08] TimMoore commented on #809
That's the basic idea, @erip, but I think there are some unknown complexities in making this work. For one thing, I know that parts of the docs build rely on the Lagom sbt plugin, and my understanding is that you can't build and then use an sbt plugin in the same build.

The `OutOfMemoryError` might just mean that you need to increase the maximum heap size. It's a big beast 😄

[2017-06-28 07:30] #616 closed

[2017-06-28 09:39] ignasi35 opened #850 "Support DData and Persistent shard coordinator"
Since Akka 2.5 it is possible to switch from persistent shard coordination to a new implementation based in DData.

The switch from persistent to ddata shard coordination requires a cluster reboot which may not be a valid option to some users that can't afford a service outage and must do rolling upgrades.

Lagom should support both shard coordination strategies.

[2017-06-28 10:16] ignasi35 commented on #839
A quick search, and some help from my colleague @fiunchinho, lead me to https://github.com/atlassian/localstack which seems useful to mock AWS products for testing purposes.

[2017-06-28 11:33] erip commented on #809
I'll bang away at it. I have some very strawman commits in the pipeline currently, but it'll require a more thorough attempt... 😄

[2017-06-28 12:15] rcavalcanti opened #851 "Remove usage of Play's Configuration directly in Lagom"
In Play 2.6, `play.Configuration` has been deprecated and `play.api.Configuration` have got lots deprecated methods.

We should remove all references to it in Lagom and use Typesafe Config directly. Play's Configuration is very often used in Component constructors.

We should provide alternative constructor methods and mark the old as deprecated. Old constructor should call the new one by passing

[2017-06-28 12:21] agenovese commented on #839
I don't know if it would be useful, but I threw together a quick proof of concept a little while ago. It isn't tested beyond a simple "hello world" but if it's useful I'd be happy to work with someone to get it to the point where it could be merged - https://github.com/StreetContxt/lagom-kinesis

[2017-06-28 13:13] erip commented on #825
@TimMoore FYI, sbt/sbt-bintray#88.

[2017-06-28 23:18] TimMoore commented on #851
I'm thinking we should try to do this for 1.4.0. What do you think?

[2017-06-28 23:19] TimMoore commented on #850
Is this the same thing as #816?

[2017-06-29 07:13] #834 closed

[2017-06-29 09:57] #835 closed

[2017-06-29 10:04] ignasi35 commented on #850
This is slightly more complex actually.

I think #816 means defaulting to DData while this means providing the tools for a user to stay in Persistent Shard Coordination.

Users moving from `1.3.x` to `1.4.x` may want to continue using Persistent Shard Coordination.

[2017-06-29 12:40] ploddi opened #852 "Possible protoc versions clash with ScalaPB 0.6.0-pre5"
Lagom `1.4.0-M1` and ScalaPB `0.6.0-pre5` in same project results with:

[code]

There is no issue with Lagom `1.3.5`.

[2017-06-29 13:12] ignasi35 commented on #852
Hi @ploddi, thanks for reporting!

Can you share some more details wrt your setup (or even points us to your code, if available) so we can try to solve this issue?

[2017-06-29 13:18] ignasi35 commented on #852
I found similar collisions in the past when working on [grpc-sbt-experiments](https://github.com/lagom/grpc-sbt-experiments). I noticed the order in which the plugins where listed in [project/plugins.sbt](https://github.com/lagom/grpc-sbt-experiments/blob/master/project/plugins.sbt) was relevant but I still haven't sorted out the cause.

Could you try reordering your plugins in case that works aro

[2017-06-29 13:23] ploddi commented on #852
My `project/plugins.sbt` is pretty simple:
[code]

[2017-06-29 13:25] ploddi commented on #852
I have typical Lagom multi-project build. One project contains `*.proto` files and has `PB.targets in Compile := Seq(scalapbGen -> (sourceManaged in Compile).value)` setting. Simple `compile` of this project or entire build results with exceptions on `protoc-jar: executing:` stage.

[2017-06-29 13:29] ignasi35 commented on #852
This sounds very similar to the errors I found when working on some development for Lagom `1.4.x` that included gRPC (it's still WIP, so maybe it won't be in lagom 1.4.0).
I created https://github.com/lagom/grpc-sbt-experiments/issues/3 to track the discoveries there.

If I understand correctly, in your case, the project worked fine when using `1.3.5`. That is interesting and very relevant to narr

[2017-06-29 13:33] ploddi commented on #852
Reordering plugins solves this issue. Thanks for this quick hack👍

[2017-06-29 15:02] rcavalcanti opened #853 "Move CircuitBreakersPanel concern from outside ServiceLocator"
When discussing the possible refactorings for #804, we discussed the idea of having a `CircuitBreakersDecorator` for `ServiceLocators`.

It turns out that we can't force a `ServiceLocator` implementor to wrap it with a `Decorator` when it gets wired.

So, instead of trying to force the usage of `CircuitBreakers` while implementing a `ServiceLocator`, we can take over the responsibility from the us

[2017-06-29 20:08] rcavalcanti commented on #853
Sketch to implementation plan:

* alleviate contract of `ServiceLocator.doWithService` and provide it as a default method wihout `CircuitBreakers`.
* deprecate `CircuitBreakingServiceLocator`
* all current implementations of `CircuitBreakingServiceLocator` should implement `ServiceLocator` directly
* wire `CircuitBreakersPanel`(see PR #841)  in `ScaladslServiceApiBridge` and `JavadslServiceApiBrid

[2017-06-30 08:27] rcavalcanti opened #855 "Release 1.3.6"

[2017-06-30 12:21] rcavalcanti commented on #853
To add to the discussion, I found this on the `ServiceLocator` javadoc.

I would expect this to be a something that power users may want. In such a case, we are talking about a custom engineered `ServiceLocator` with some circuit breaking capabilities.

Any alternative `ServiceLocator` may bring their own circuit breakers and do whatever is necessary, but I don't think it's something we should try

[2017-06-30 14:15] ignasi35 opened #857 "Replace sclariform with scalafmt"
See http://scalameta.org/scalafmt/#sbt0.13

[2017-06-30 17:40] ignasi35 commented on #852
Hmmm, I think I've found a potential cause.
I've seen the lagom dependency tree now includes `com.google.protobuf:protobuf-java:2.5.0` and using `whatDependsOn` provided by `sbt-dependency-graph` I noticed it's brought it transitively via

[code]

[2017-06-30 17:40] ignasi35 commented on #852
I used a different approach in the testing repo too: https://github.com/lagom/grpc-sbt-experiments/pull/6

[2017-07-02 13:26] erip commented on #809
@TimMoore You seem to be correct here. It seems like in the interim, the issue as-is can be solved fairly trivially by just reusing the root dependencies versions.

It seems like a natural commit to create `xVersion`s for all common dependencies.

[2017-07-03 02:20] TimMoore opened #861 "Support for Java 9"
Java 9 is planned for release later this year (September 21, 2017 at the time of this writing).

http://www.java9countdown.xyz/

While Lagom will retain compatibility with Java 8 for the foreseeable future, we should also validate that it is compatible with Java 9 by adding Travis CI jobs to the build matrix and fixing any issues that arise.

Note that the scope of this issue does not include supp

[2017-07-03 02:26] TimMoore opened #862 "gRPC integration"
[gRPC](http://www.grpc.io/) is an increasingly-popular option for high-performance communication between microservices and other endpoints, with support for many programming languages. It is based on Protocol Buffers and adds a service definition language and wire format that works over HTTP/2

It should be possible to use gRPC as a communication channel in Lagom as an alternative to plain HTTP/"R

[2017-07-04 06:00] edouardKaiser opened #863 "Method public default com.lightbend.lagom.javadsl.api.Descriptor is not described by the service client descriptor"
Using Lagom `1.3.5` with Java

When binding a service using `ServiceGuiceSupport` and `bindClient`, if we try to call `serviceInstance::descriptor()` we get this exception:

[code]

Is there a particular reason the method `descriptor` has not been mapped in the implementation of `JavadslServiceClientImplementor::invoke` ?

[2017-07-04 07:33] TimMoore commented on #863
@edouardKaiser no reason I'm aware of. It's probably an oversight.

Curious what your use case is.

[2017-07-04 09:37] edouardKaiser commented on #863
For example, we use the service name to match against the audience of a JWT token (authorisation mechanism).

I can push a PR if you want.

[2017-07-04 10:00] TimMoore commented on #863
That would be fantastic @edouardKaiser. Thanks!

[2017-07-04 10:24] edouardKaiser commented on #863
No worries, I'll do that tomorrow.

[2017-07-04 10:24] steinybot opened #864 "Docs say "event streaming" rather than "event sourcing""
On the [Internal and external communication](https://www.lagomframework.com/documentation/1.3.x/scala/InternalAndExternalCommunication.html) page of the docs it says "Lagom encourages event streaming". It seems like this should say "Lagom encourages event sourcing" unless there is some difference that has not been introduced yet.

[2017-07-04 10:35] TimMoore commented on #864
There is a distinction, but I agree that the section could be clearer.

Specifically, **event sourcing** refers to how data is _stored_ (as a log of events) and **event streaming** refers to how data is _communicated between services_. It is possible to do either one of these without the other, but they work best together.

[2017-07-04 11:19] ignasi35 commented on #852
See also https://github.com/scalapb/ScalaPB/issues/150#issuecomment-312757429

[2017-07-05 05:45] yg-apaza opened #866 "Move CassandraReadSideUtils to Lagom"
Online Auction Java has a useful class: [`CassandraReadSideUtils`](https://github.com/lagom/online-auction-java/blob/master/item-impl/src/main/java/com/example/auction/item/impl/CassandraReadSideUtils.java)

[2017-07-05 05:47] yg-apaza commented on #866
@jroper @TimMoore could you please guide me a guide on this?
Related: lagom/online-auction-java#74

[2017-07-05 10:05] ignasi35 commented on #866
Hey @yg-apaza, you probably want to move the method from `CassandraReadSideUtils` into https://github.com/lagom/lagom/blob/e53bda5fd2f83aaa4cd639c9ad27d6053ede812f/persistence-cassandra/javadsl/src/main/scala/com/lightbend/lagom/javadsl/persistence/cassandra/CassandraReadSideProcessor.scala#L75-L88

This is a small change that improves an existing API so no docs, other than javadoc, should be nece

[2017-07-05 10:16] TimMoore commented on #866
I think it should move to [`CassandraReadSide`](https://github.com/lagom/lagom/blob/e1c4cfa96dc2d7d67864426d73dfa23ab5c9195e/persistence-cassandra/javadsl/src/main/java/com/lightbend/lagom/javadsl/persistence/cassandra/CassandraReadSide.java) rather than `CassandraReadSideProcessor` (which is deprecated).

[2017-07-05 10:32] ignasi35 commented on #866
Yes, please. My bad.

[2017-07-05 13:32] ignasi35 commented on #852
Hi @ploddi I've been investigating a bit further and apparently the issue is introduced via ScalaJS. The latests versions of ScalaJS are uber jars which include their dependencies without but don't relocate classes.

I made a test using excluding `com.google.protobuf:protobuf-java:2.5.0` but keeping `org.scala-js:closure-compiler-java-6:v20160517`. The test failed. then I realised that `closure-co

[2017-07-06 14:00] ignasi35 commented on #852
Hi @ploddi. Thanks to @thesamet we've found a combination of library addition and plugin declaration were the order becomes irrelevant. See https://github.com/scalapb/ScalaPB/issues/150#issuecomment-313403726

[2017-07-07 07:00] TimMoore opened #869 "Can't use multiple async ScalaTest tests with ServiceTest"
### Lagom Version (1.2.x / 1.3.x / etc)

1.3.0 to 1.3.5 and 1.4.0-M1

### API (Scala / Java / Neither / Both)

Scala

### Library Dependencies

[code]

### Expected Behavior

The [Scala documentation on testing services](https://www.lagomframework.com/documentation/1.3.x/scala/TestingServices.html#How-to-test-one-service) gives an example that makes use of ScalaTest's asynchronous test support:

[

[2017-07-07 09:08] rsltrifork opened #870 "Specifying withReponseSerializer() also sets request DEserializer"
Descriptor.withResponseSerializer(MessageSerializer) is supposed to set a custom serializer to be used when _serializing responses_.
However, lagom wrongly uses the supplied MessageSerializer for _deserializing requests_.

[code]

My custom MessageSerializer:

[code]

It's hooked in like this:

[code]

[2017-07-07 10:19] ignasi35 opened #871 "Allow Compile-time DI in Lagom javadsl"
With support for [compile-time DI in play 2.6](https://www.playframework.com/documentation/2.6.x/JavaCompileTimeDependencyInjection), Lagom's javadsl could support that too.

[2017-07-07 11:31] choffmeister opened #872 "TopicProducer.taggedStreamWithOffset gets stale even after Cassandra is back online"
### System:

* Lagom Version: 1.3.x
* API: Scala
* OS: Linux
* JDK: OpenJDK 1.8.x

### Expected Behavior

1. I have a topic that produces messages into Kafka like

[code]

2. As it happend Cassandra was not available for some minutes
3. Of course while Cassandra is unavailable there are not messages produced to Kafka
4. But one would expect, that when Cassandra is back online eventually the topic

[2017-07-07 14:39] #863 closed

[2017-07-07 14:45] aklikic commented on #872
+1

[2017-07-07 16:39] ignasi35 commented on #872
The `eventStream` and the user-land code transforming the events compose a `Source` that `TopicProducer` must be able to rebuild in case of failure.

I suspect both issues are connected and the `TopicProducer` is not recovering when either the `eventStream` or the user-land code fails.

[2017-07-07 19:57] #866 closed

[2017-07-09 11:12] edouardKaiser commented on #863
@ignasi35 could we cherry pick this fix on 1.3.x ?

[2017-07-11 10:21] WayneWang12 opened #876 "Sample code in Testing subscription may not succeed eventually."
Hi there, I'm using lagom to implement my service. And I've found a little problem there when get across to `eventually`. The sample code is in [Testing subscription](https://www.lagomframework.com/documentation/1.3.x/scala/MessageBrokerTesting.html#Testing-subscription)

It seems that `eventully` have done nothing specially to `Future`. And if at the first time what wrapped in future failed, then

[2017-07-13 06:20] jroper commented on #863
Thanks @edouardKaiser. It was always intended that it should be implemented, but in the very early days when I was just getting it working, I didn't implement it, and then I never remembered to come back to it.

[2017-07-14 07:03] TimMoore commented on #872
Fixed by #877

[2017-07-14 07:03] #872 closed

[2017-07-14 08:36] TimMoore commented on #855
https://github.com/lagom/lagom/milestone/14

[2017-07-15 18:16] erip commented on #851
I can do this one. I haven't checked the code yet, but I assume the snippet that @rcavalcanti posted is the goal?

[2017-07-16 17:44] erip commented on #851
One tricky problem is that `LagomApplication` extends [`play.api.BuiltInComponentsFromContext`](https://github.com/playframework/playframework/blob/master/framework/src/play/src/main/scala/play/api/ApplicationLoader.scala#L126), which provides `lazy val configuration: play.api.Configuration`.

`LagomApplication` overrides this field, so it can't be removed.

In the interim, I've introduced to `Lag

[2017-07-17 04:16] domkun opened #883 "Lagom Maven PLugin run task fails"
### Lagom Version (1.2.x / 1.3.x / etc)

1.3.5

### API (Scala / Java / Neither / Both)

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

4.4.0-77-generic #98-Ubuntu SMP Wed Apr 26 08:34:02 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### JDK

java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

[2017-07-17 07:00] TimMoore opened #884 "Document how to tune the JDBC thread pool and other configuration"
The documentation for [JDBC support in Lagom](https://www.lagomframework.com/documentation/1.3.x/java/PersistentEntityRDBMS.html), [Slick configuration](http://slick.lightbend.com/doc/3.2.0/database.html) and [Play database support](https://www.playframework.com/documentation/2.5.x/JavaDatabase) don't make it clear how you can put the pieces together to configure the database thread pool size or c

[2017-07-17 07:13] domkun opened #885 "URI encoded slahes in path parameters lead to action not found"
### Lagom Version (1.2.x / 1.3.x / etc)

1.3.5 Dev Mode

### API (Scala / Java / Neither / Both)

Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

4.4.0-77-generic #98-Ubuntu SMP Wed Apr 26 08:34:02 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### JDK

java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11

[2017-07-17 09:00] TimMoore commented on #884
The only way I could find to do this is to bypass the JNDI datasource for the database configuration, and configure Slick directly.

Here's what my `application.conf` looks like

[code]

Note that this still creates a duplicate database bound to the data source. I could not work out a way to avoid that, but it might be possible.

[2017-07-17 09:44] TimMoore commented on #884
We might want to actually change the way we initialize the database. Currently, we use `jdbc-defaults.slick.jndiName` to configure a datasource name to pass through Akka Persistence JDBC and then on to Slick. This, however, does not allow for customization of the `AsyncExecutor` used by Slick.

Clearing the `jndiName` as in the example above instead causes Akka Persistence JDBC to use `Database.fo

[2017-07-18 03:02] edouardKaiser commented on #855
Looks like it's done 👍

[2017-07-18 03:08] TimMoore commented on #377
The original description of this issue covers only importing a project into the development environment, but there is a related issue of creating a client for a Java-based service in a Scala-based application and vice-versa. This would need to be solved before it would even make sense to try to import an external service written in the other language.

The `sbt-lagom-descriptor-generator` project

[2017-07-18 05:31] domkun commented on #885
I did some research and it seems that most applications do not support this per default. Apache Tomcat and httpd both have extra settings to enable this.

So this seems only relevant for the dev mode as in a production environment the gateway is some technology outside the scope of Lagom (if I am correct?).

In Lagom the ServiceGateway uses the Java `URI.create` method which does the decoding of t

[2017-07-18 10:12] rcavalcanti commented on #885
Not sure if that's is overkill. If it's a valid use case for production, we should provide the option in dev mode as well.

This could eventually be achieved with a configuration option like 'gateway.decode.request.url' defaulting to 'true'.

[2017-07-18 10:13] rcavalcanti commented on #883
Fixed by PR #886

[2017-07-18 10:13] #883 closed

[2017-07-18 11:07] #534 closed

[2017-07-18 12:10] domkun commented on #885
This is not an easy change, I think this also affects the ServiceRouter.scala (https://github.com/lagom/lagom/blob/master/service/core/server/src/main/scala/com/lightbend/lagom/internal/server/ServiceRouter.scala#L212)

I have found a discussion about this in the Play Framework repository, see https://github.com/playframework/playframework/issues/937

I don't think I am able to provide much assist

[2017-07-18 21:52] rcavalcanti opened #891 "Incorrect log4j2 configuration file"
This was originally reported by @guizmaii on PR #889.

It turns out that the current log4j2 configuration in the docs, but also in Lagom sources is not correct.

`File` and  `Console` tags must be wrapped by `Appenders` tag  and `Logger` and `AsyncRoot` must be wrapped by `Loggers`.

Moreover, when using `AsyncRoot` and extra dependency to `com.lmax.disruptor` must be added.

[2017-07-19 03:33] #855 closed

[2017-07-19 09:05] #804 closed

[2017-07-20 01:03] jroper commented on #839
@agenovese I did a brief scan over the code base and it looks fantastic! Are you using it yourself?

My thoughts on this are that we should bring the repo into the Lagom GitHub organisation (rather than merge it into the Lagom repo), the Lagom repo is getting quite large and some day we'll probably split it up, including the Kafka support. Given that this is already implemented as a separate thing

[2017-07-20 03:12] TimMoore opened #895 "Implement the Lagom WebSocket client using Akka HTTP"
The current [`WebSocketClient`](https://github.com/lagom/lagom/blob/master/service/core/client/src/main/scala/com/lightbend/lagom/internal/client/WebSocketClient.scala) used by Lagom is written directly on top of Netty. It works well, but has some problems:

- It has no support for TLS
- The code is long and complex, making it hard for people to understand and change
- In particular, correctly imp

[2017-07-20 06:38] TimMoore commented on #876
Thanks for the report, @WayneWang12. Would you be willing to submit a pull request with the fix?

[2017-07-20 06:46] TimMoore commented on #870
Hi @rsltrifork thanks for your report.

This is not a mistake: serialization and deserialization are linked together in Lagom. There is no `withResponseDeserializer` method. Your class should implement the `deserializer` method.

[2017-07-20 07:59] WayneWang12 commented on #876
Sure. I'll do it now.

[2017-07-20 09:28] WayneWang12 commented on #876
Done. Spent some time resolving the dependencies. Just change the AsyncWordSpec to WordSpec and use `whenReady` in `ScalaFutures` to make sure failed future will throw exceptions.

[2017-07-20 13:27] agenovese commented on #839
@jroper

Just starting a project that will, nothing in production yet. To be honest, the timing is fortunate since I'm just re-familiarizing myself with the code for that work.

Sounds good.

Docs and tests, yeah.

I'm happy to add to the docs, if you can direct me to where/how. Since this was more or less a proof of concept I didn't really put any time into it, but when contrasted against the kaf

[2017-07-20 16:16] rstento opened #897 "Highlight client created by Lagom in Concept Overview"
Internal users of Lagom have expressed appreciation for the client service that Lagom creates for you. Add another mention of it in the concepts.

[2017-07-21 00:23] jroper opened #899 "Switch to RestartSource instead of BackoffSupervisor to supervise streams"
A lot of boilerplate in Lagom can be removed now that this feature has been added to Akka:

https://github.com/akka/akka/pull/23367

Basically, anything that previously started an actor to supervise a stream, which itself was supervised by a backoff supervisor, can be replaced with this.  I believe it should be included in the next 2.5.x release.

[2017-07-23 14:48] ktoso commented on #899
We'll release this or next week, will keep you in the loop - thanks for the nice contrib with those!

[2017-07-24 06:25] nserfontein commented on #38
+1

[2017-07-26 03:59] TimMoore opened #902 "runAll does not work on a default Fedora installation"
A Lagom user has reported difficulty running the hello-world and online auction example application on Fedora 25-26 due to a default firefall configuration that blocks Kafka from binding to port 9092.

See thread at https://groups.google.com/d/topic/lagom-framework/kpNCDCQgQp8/discussion

We should implement a workaround if we can find one, or otherwise document the known issue in the getting star

[2017-07-26 04:07] TimMoore commented on #902
This may relate to #166, i.e., maybe if we have everything in the development environment bind to and advertise 127.0.0.1, we might avoid firewall restrictions.

[2017-07-26 21:56] TimMoore opened #903 "Tests launch Cassandra with debug logging enabled"
### Lagom Version (1.2.x / 1.3.x / etc)

1.3.6

### API (Scala / Java / Neither / Both)

Java

### Reproducible Test Case

[code]

Note the extremely verbose output.

I don't see this when creating a new project from the Scala g8 template or the Java Maven archetype.

[2017-07-26 22:05] rcavalcanti opened #904 "Offset not persisted when no matching event handler is found"
The `CassandraReadSideHandler` processes incoming events whenever an event handler is defined for an event. While processing it, the offset is saved in the same transaction.

However, offset is not saved when a handler is not found. This is not considered an error as we simply return `Future.successul(Done)`. Basically, we skip the event.
It would be better to save the offset so this event (and po

[2017-07-27 10:12] #851 closed

[2017-07-27 21:48] jacobus commented on #339
Being able to get the state of a particular entity in time is critical in many business cases. Yes, it can be solved in other ways, but having the ability to retrieve the state of an entity at a space in time from Lagom would be an extremely elegant way to solve the problem.

Example:

There are two Lagom services in a Real-Estate system. One service manages the Sale of a Property and another mana

[2017-07-27 22:24] rcavalcanti commented on #339
@jacobus the problem I see with this approach is that we kind of treat the write-model as a view. The state of an entity is not supposed to be queried, that's a concern of the read-side.

Alternatively, we should be able to request a rebuild of view (read-side) ad-hoc up to some point in time.

Aggregates should not offer nor expose its state, only its events. The reason for that is that one shoul

[2017-07-27 23:36] TimMoore commented on #339
I think of this more as support to help build a particular type of read model. There are common patterns in the types of read models that are useful, and maybe Lagom could have a role in providing infrastructure to make them easier to build.

[2017-07-27 23:51] jacobus commented on #339
In my opinion (I'm a novice in this space) the ability to remodel an
aggregate as business evolves is lost immediately if you have to solve this
problem by creating some sort of history on the read-side.

If Lagom builds an aggregate to it's current state by replaying it's
events, then it should not break the model if it just stops at a certain
event state. In other words - rebuild the aggregate f

[2017-07-28 07:04] jroper commented on #339
Being able to remodel an aggregate freely when using CQRS is an in built anti corruption mechanism that CQRS offers. Which is great, unless you already have an anti corruption mechanism - which you do when you use microservices. In Lagom, the anti corruption mechanism is the service API, it allows you to completely change the way you persist data, you can switch from using event sourcing to using

[2017-07-31 03:35] TimMoore opened #906 ""Could not register Cluster JMX MBean" error in development."
### Lagom Version (1.2.x / 1.3.x / etc)

Only 1.4.0-M1 tested

### API (Scala / Java / Neither / Both)

Only Java tested

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Use `uname -a` if on Linux.

### Expected Behavior

1. Create a new Lagom project (I used the Java/Maven archetype... not confirmed whether this happens with other templates, but I would expect so).
2. Ensure you h

[2017-07-31 09:28] #897 closed

[2017-07-31 22:06] rcavalcanti commented on #339
@jroper although CQRS offers by design a built-in anti-corruption mechanism the main reason for having command query segregation comes from a modelling concern. It comes from the observation that the command model has different design requirements from the query model.

I'm not saying that it's forbidden to fetch the state of an entity. There are some uses cases that this could be acceptable. But

[2017-07-31 22:46] TimMoore commented on #899
Dependent on an Akka 2.5.4 release and update in Lagom.

[2017-08-01 04:03] TimMoore opened #907 "Kafka consumer should start at the earliest offset by default"
When a new consumer group does not have a stored offset in Kafka, the `auto.offset.reset` property is used to determine the point from where it starts consuming:

The default value in Kafka is `latest`, which skips any buffered messages and only consumes messages that are written subsequently. This makes it a bad choice for cases where you want to "catch up" to the current state by receiving histo

[2017-08-01 17:41] dpennell opened #908 "scalaVersion of lagom-internal-meta-* projects is hard coded to 2.11.7"
### Lagom Version - 1.3.6
This is an issue with the Lagom SBT plugin

### API : SBT/Scala

### Operating System (Centos 7)

### JDK (Oracle 1.8.0_112, OpenJDK 1.8.x, Azul Zing)

### Library Dependencies

This is an issue when using ensime.  The ensime plugin only supports a single version of scala for a project and it's dependencies.  Since the internal-meta projects are dynamic, it doesn't look l

[2017-08-01 19:00] johdah commented on #59
Is there any known projects on github or examples using service-locator-dns? I guess that there is a reason that this issue is still open?

[2017-08-01 19:12] huntc commented on #59
We have some guides and sample code coming within the next month.

[2017-08-01 19:48] johdah commented on #59
Nice, in the Lagom docs or in the service-locator-dns project?

[2017-08-01 19:52] huntc commented on #59
Initially as guides on our tech hub, with modifications to the Chirper sample.

[2017-08-01 20:54] richdougherty commented on #885
I've tested this in Play and if we call a route like

[code]

with `http://localhost:9000/api/hello/Alice%2FThat%2Fis%2Fmy%2Fname` we get an `id` of `Alice/That/is/my/name`. I.e. the path segment `Alice%2FThat%2Fis%2Fmy%2Fname` is correctly unescaped and passed as the `id` parameter.

But I suppose Lagom doesn't use a standard routes file. How does Lagom call the Play APIs when routing a call? Doe

[2017-08-01 21:49] richdougherty commented on #885
A question for you, @domkun:

Does this mean that you expect `Alice%2FThat%2Fis%2Fmy%2Fname` or `Alice/That/is/my/name`? I'd expect the latter, but I want to clarify what you're expecting. :)

[2017-08-02 06:00] TimMoore commented on #908
It sounds to me like a good thing to fix. I'm not sure why it's hardcoded. Thanks for the detailed notes, @dpennell. A pull request would be a great help.

[2017-08-02 06:46] TimMoore commented on #726
Might as well deprecate it in 1.4.0.

[2017-08-02 13:33] domkun commented on #885
Sorry for the delay. Yes, I expected `Alice/That/is/my/name`

[2017-08-02 21:11] richdougherty commented on #885
OK thanks for confirming that. That behaviour is what we're getting when using a standard Play router. Lagom is probably using a different technique for routing.

[2017-08-02 22:20] rcavalcanti opened #909 "Module loading order may cause wiring failures"
This issue was observed and originally reported at [lagom/online-auction-java (comment)](https://github.com/lagom/online-auction-java/pull/131#discussion_r130398186).

It turns out that some components (`CassandraOffsetDao` and probably others) are provide asynchronously during wiring. Before `CassandraOffsetDao` can be created the necessary tables must first be created using the `ClusterStartupTa

[2017-08-02 23:36] TimMoore opened #910 "Provide an alternative to Pair in the Java service API"
Writing reusable code to transform response headers in the Java API is quite verbose:

[code]

This could be made shorter by eliminating the extracted intermediate variables and methods, but at the expense of clarity.

A lot of the problem comes from the fact that `Pair` is rather unwieldy in Java. Use of `Pair` in the `ServiceCall`/`ServerServiceCall`/`HeaderServiceCall` interfaces leads to long

[2017-08-03 00:13] gmethvin commented on #909
This is by design, because the module loading order shouldn't matter. Modules should only be declaring bindings, and the instantiation order is determined by what the object graph looks like. I don't think Guice guarantees any instantiation ordering at all beyond what's explicitly encoded in the dependency graph.

From what I can tell, Lagom isn't actually doing any initialization in the module it

[2017-08-03 00:27] gmethvin commented on #910
I believe the general feeling about `Pair` and similar constructions in the Java community is that you should create your own specific type instead of using a general type like `Pair`. As a library author, I would avoid using `Pair` since it provides little value from a user's point of view.

[2017-08-03 02:09] TimMoore commented on #909
I think that's probably what's happening.

In this case, I believe the problem is that some code is initialized by Guice, and some is being initialized by an Akka extension. This makes it difficult to express the dependency through injected constructor parameters alone, and I think what's needed is better definition of the protocol and explicit sequencing of different operations.

[2017-08-03 02:12] TimMoore commented on #909
Related: #568

[2017-08-03 02:33] TimMoore commented on #429
Related: #899

[2017-08-03 02:38] TimMoore commented on #425
@notNotDaniel is this still something you're interested in working on?

[2017-08-03 03:09] TimMoore commented on #541
It looks like Play 2.6 allows either Ctrl+D or Enter (with Enter prompted by default)

playframework/playframework#2671 playframework/playframework#6834

[2017-08-03 03:18] TimMoore commented on #541
I think the best approach to this would be to:

1. Make Lagom reuse code in Play to implement this
2. Make it configurable in Play whether enter exits back to the sbt console
3. Define sbt plugin settings to configure this, so that individuals can add [global sbt configuration](http://www.scala-sbt.org/0.13/docs/Global-Settings.html) to suit

We would welcome pull requests.

[2017-08-03 04:00] richdougherty commented on #541
I'll just mention that the other main reason we switched to Enter instead of Ctrl-D is that pressing Ctrl-D at the wrong time exits your entire sbt session… which is really annoying!

[2017-08-03 04:03] TimMoore opened #911 "Support switching between Netty and Akka HTTP server back-ends"
Play 2.6 brings in [Akka HTTP as the default server engine](https://www.playframework.com/documentation/2.6.x/Migration26#Akka-HTTP-as-the-default-server-engine).

Lagom, however, still brings in `play-netty-server` by default in both the sbt plugins ([Java](https://github.com/lagom/lagom/blob/master/dev/sbt-plugin/src/main/scala/com/lightbend/lagom/sbt/LagomPlugin.scala#L51), [Scala](https://gith

[2017-08-03 06:14] TimMoore opened #912 "Enable Akka HTTP service gateway by default in 1.4.0-M2"
#894 introduced an experimental development mode service gateway implementation based on Akka HTTP. This will ship with Lagom 1.3.7, but as an opt-in experimental option.

We should enable it by default in 1.4.0-M2.

[2017-08-03 06:30] rcavalcanti commented on #909
@gmethvin

Totally agree. I don't think is a Play issue at all.

@TimMoore

If we need to somehow to ask the user to take that in consideration, then I would go for another solution. The wiring should be a no-brain task. I will investigate it further to add more context here, ie: which classes and which modules are involved.

If we can force the ordering through dependencies entirely in the Lagom

[2017-08-03 14:09] mmacek7 commented on #541
Agreed, that sounds almost as bad as Enter. Perhaps use Ctrl+C, or require user type a "stop" command instead.

[2017-08-03 16:52] notNotDaniel commented on #425
Yes. Other work priorities have taken precedence, but I am hoping to have
some time for this still.

On Wed, Aug 2, 2017 at 7:38 PM, Tim Moore <notifications@github.com> wrote:

[2017-08-03 22:04] rcavalcanti commented on #909
I did some more research on the issue and it's indeed related with delays introduced by the load ordering.

However, this can't happen with production code. Only the test infrastructure in `online-action-java` can suffer from that.

This issue happens because we need to instantiate a `ReadSideProcessor` and have it immediately available for tests. We do wait for the completion of this `Future` bef

[2017-08-03 22:32] TimMoore commented on #909
Should we be setting a longer timeout in tests then?

[2017-08-03 22:37] rcavalcanti commented on #909
The tests a fixed now by using a `Module` in the default package. If I would add any effort there, I would make the `ReadSideTestDriver` less fragile.

[2017-08-03 22:40] TimMoore commented on #909
Right, I meant set a longer timeout by default at the framework level.

[2017-08-04 01:02] TimMoore opened #913 "Document how to add CORS headers"
There is a web standard called ["Cross-Origin Resource Sharing" (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS) that can be used to control web browsers' origin restrictions.

Quoting from the MDN page linked above:

The MDN page has more detail, but support for CORS involves handling particular request headers, setting particular response headers, and handling "pre-

[2017-08-04 02:05] TimMoore commented on #425
@notNotDaniel no worries... thanks for the update!

[2017-08-04 02:47] TimMoore commented on #726
This will be addressed in #900

[2017-08-04 05:57] #876 closed

[2017-08-04 06:59] TimMoore commented on #885
Just did a bit more testing:

- When hitting the service gateway (`curl http://localhost:9000/api/hello/Alice%2FThat%2Fis%2Fmy%2Fname`) I get the 404 as reported
- When hitting the service port directly (`curl http://localhost:57797/api/hello/Alice%2FThat%2Fis%2Fmy%2Fname`) I get the expected result: `Hello, Alice/That/is/my/name!`
- If I enable the experimental akka-http service gateway that was

[2017-08-04 06:59] #885 closed

[2017-08-04 08:55] rcavalcanti commented on #726
Closing. #900 is merged

[2017-08-04 08:55] #726 closed

[2017-08-04 08:59] rcavalcanti commented on #421
We have detected an issue with the `ReadSideTestDriver` related with the ordering in which modules may get loaded.
This was describer here #909.

If it is ever moved to lagom/lagom, if will be used for many others and therefore we must make it robust and not dependent on Module loading order.

[2017-08-04 09:01] rcavalcanti commented on #909
May I close this one?
I added a comment on #421.

[2017-08-04 09:22] rcavalcanti commented on #731
FIxed by #900

[2017-08-04 09:22] #731 closed

[2017-08-04 09:23] #909 closed

[2017-08-04 09:25] rcavalcanti commented on #909
Close this one. We can increase the timeout or make it more robust when we tackle #421.

In any case, this is now a `lagom/online-auction-java` issue, not `lagom/lagom`

[2017-08-07 08:13] #774 closed

[2017-08-08 11:16] ignasi35 opened #916 "Document log4j config lookup strategy."
Lagom's strategy to lookup for a log4j config file is similar to the default one but [extends it with default values](https://github.com/lagom/lagom/blob/c43d8a780475b010d20e0411babe38b389a71162/log4j2/src/main/scala/com/lightbend/lagom/internal/log4j2/Log4j2LoggerConfigurator.scala#L54). Documentation should be improved.

[2017-08-08 11:16] ignasi35 commented on #916
See #892

[2017-08-08 11:18] #891 closed

[2017-08-08 15:07] ignasi35 opened #918 "Update Slick to 3.2.1"
See Slick's [release notes](http://slick.lightbend.com/news/2017/07/20/slick-3.2.1-released.html)

Related to  #546

[2017-08-08 21:02] renatocaval opened #919 "Review PersistentEntity API for reply and afterPersist"
This issue is a starting point for a broader discussion we would like to initiate about the current state of `PersistentEntity` API.

This was initially triggered by PR #901. The main problem reported there is that it's very cumbersome to write command handlers that reply with the entity state while emitting many or none events.

For illustration:
(examples in Java syntax)
[code]

In its current f

[2017-08-09 01:04] #907 closed

[2017-08-09 07:52] bozzzzo commented on #919
I like it!

[2017-08-09 08:39] guizmaii commented on #919
As a first observation,
[code]
seems better than
[code]

[2017-08-09 09:02] rcavalcanti commented on #919
@guizmaii we probably want the same for the `afterPersist`
[code]

[2017-08-09 22:11] w-test commented on #730
Make both reads and writes CL configurable please. So everybody can choose between ONE/QUORUM/ALL etc.
Replication strategy for keyspace must be NetworkTopologyStrategy for production.

[2017-08-10 06:09] TimMoore commented on #903
Can't reproduce this with Lagom 1.4.0-M1

[2017-08-10 06:23] rcavalcanti commented on #903
I tested with 1.3.7-SNAPSHOT and problem persist.

[2017-08-10 06:30] TimMoore commented on #903
The way Cassandra is launched changed substantially between 1.3.x and 1.4.x, due to the introduction of a new `CassandraLauncher` in Akka Persistence Cassandra (https://github.com/akka/akka-persistence-cassandra/pull/202).

I'll see if I can find an easy fix for 1.3.x, and if not, I'll close this.

[2017-08-10 06:56] TimMoore commented on #903
I worked out why this only happens with the Java g8 template, and not with the Scala one: `lagom/lagom-java.g8` is the only one that doesn't include a default `logback.xml` or `logback-test.xml` in the test resources directory. This is picked up off the classpath when launching Cassandra in Lagom 1.3.x.

In 1.4.x, the Cassandra bundle used by the launcher includes its own `logback.xml`.

So, I thi

[2017-08-10 07:00] TimMoore commented on #903
Moved to https://github.com/lagom/lagom-java.g8/issues/19

[2017-08-10 07:00] #903 closed

[2017-08-10 08:54] rsltrifork commented on #870
com.lightbend.lagom.javadsl.api.Descriptor claims to distinguish between **request** and **response** Serializer having different methods to set the 2 serializers. The bug is that it also uses the value from withReponseSerializer() for **requests**.

[code]

[2017-08-10 11:58] ignasi35 commented on #869
@TimMoore I think your idea to use `map` instead of `onComplete` is on the right track.

[2017-08-11 00:15] huntc opened #923 "Improve Lagom logging"
We have received a number of customer observations that "logging isn't working" in the context of ConductR i.e. `conduct events <bundle>` works, but `conduct logs <bundle>` doesn't. As each of these commands sources from the same data source (Elasticsearch), I believe the root cause of this issue is that Lagom isn't logging anything by default. My expectation is that it should, at a minimum, log w

[2017-08-11 00:18] TimMoore commented on #923
Thanks for raising this, @huntc. I think a big part of the problem is that Lagom, by default, sets most log levels (for Lagom itself, Akka and Play) to WARN, which hides useful diagnostics. I think we should change that to INFO for most things by default, and if that is too noisy, change the code to log less essential information at the DEBUG level.

[2017-08-11 00:22] huntc commented on #923
Yes, INFO should be considered as info that would be useful by the operator as a consumer. DEBUG is for developers.

[2017-08-11 03:07] jroper commented on #919
I like these suggestions. A few questions:

* We could make the API enforce that you can only reply once (by making `replyWith` a method on `Replyable`, and ensuring `PersistAll(...)` returns a `Replyable` but ensuring `replyWith` doesn't return a `Replyable`). Should we do that?
* We could also make the API enforce that all commands are replied to (by making `replyWith` return a `DirectiveWithRep

[2017-08-11 07:12] rcavalcanti opened #924 "Update Akka version to 2.4.20 on branch 1.3.x (Security Patch Released)"

[2017-08-11 07:13] rcavalcanti opened #925 "Update Akka version to 2.5.4 (Security Patch Released)"

[2017-08-11 09:27] #924 closed

[2017-08-11 12:06] dankins opened #929 "Cassandra and Kafka started even if disabled in sbt (1.4.0-M1)"
### Lagom Version (1.2.x / 1.3.x / etc)
1.4.0-M1

### API (Scala / Java / Neither / Both)

Scala

### Expected Behavior

Please describe the expected behavior of the issue, starting from the first action.

1. lagomKafkaEnabled and lagomCassandraEnabled are both set to `false`
2. when running sbt runAll, neither of these services should be started

### Actual Behavior

Both Cassandra and Kafka are

[2017-08-11 13:31] #904 closed

[2017-08-11 21:35] rcavalcanti commented on #568
I believe I found a solution for it.

To my understanding, the reason we are creating the journal tables ourselves comes from:
* akka-persistence-jdbc doesn't support table creation (contrary to cassandra one)
* even if it did, we wouldn't have use it because we patch the ddl (as seen [here](https://github.com/lagom/lagom/blob/7956d9b3532ff79c9247182de92fe43d94270cc9/persistence-jdbc/core/src/main

[2017-08-12 23:38] rcavalcanti commented on #919
For sure. I didn't thought about it initially but that's certainly a good idea.

The `replyWith` method would play the role of a `build` method in a `builder` which is not bad, but sometimes a user simply want to declare what must happen as has a default reply (Done).

I think the API should enforce it. A `Replyable` would help here. After calling `replyWith` nothing else can be declared.

Yes, wh

[2017-08-14 01:01] #869 closed

[2017-08-14 01:10] TimMoore opened #931 "Update Play to 2.6.3"
https://blog.playframework.com/play-2-6-3-released/

[2017-08-14 01:31] TimMoore opened #932 "Support sbt 1.0"
sbt 1.0.0 has been released: http://developer.lightbend.com/blog/2017-08-11-sbt-1-0-0/

The first stage of support for it in Lagom should be to cross-build our sbt plugins for sbt 0.13.x and 1.x, so that they can be used inside an sbt 1.0 build.

It is likely that there will be a number of upstream dependencies that will need to support sbt 1.0 before Lagom can.

[2017-08-14 01:51] TimMoore commented on #870
Thanks for the clarification. I'll have another look.

[2017-08-14 01:52] jroper commented on #932
sbt cross building is now part of sbt:

http://www.scala-sbt.org/0.13/docs/sbt-0.13-Tech-Previews.html#sbt-cross-building

However I'm not sure how well that will work for Lagom, it seems primarily focussed on projects that are just sbt plugins, not projects that mix sbt plugins with other libraries that don't need to be cross built against sbt versions. It may be easier to, rather than using the

[2017-08-14 03:20] TimMoore commented on #931
We believe this will fix #852.

[2017-08-14 07:39] TimMoore commented on #929
Thank you for reporting, @dankins

[2017-08-14 16:17] rcavalcanti opened #933 "Add ClusterStartupTaskActor.Execute to protobuff definition"
The following message is being displayed in logs when a `ClusterStartupTaskActor.Execute` message is being sent through the wire.

[code]

There may be other message being used internally by Lagom that are using Java Serializer by default.

This is only visible when deploying in a cluster. Single node instances will never serializer/deserialize messages.

[2017-08-15 03:29] jroper commented on #919
If the reply type is anything other than `Done`, then there can be no default reply. We may still be able  to implement a default reply in Scala by providing an implicit conversion from `Replyable[Done]` to `DirectiveWithReply` (or whatever we end up calling it), though there could be some challenges in the Scala compiler that make that difficult to work. The Java API won't be able to implement an

[2017-08-15 08:25] #923 closed

[2017-08-15 15:18] dr3s commented on #121
It's unclear to me what is left for this issue.  I tested M1 and coordinated shutdown and it resolved all the errors for our situation.  For the simple case of restarting a node, graceful coordinated shutdown seems to fulfill its promises.

Other issues talk about other aspects related to lagom and netty that may need to be coordinated but I don't think that's the scope here.  I just want to clari

[2017-08-15 18:39] rstento opened #936 "Add links to new deployment on Kubernetes guide"
Now that Tech Hub has a guide on how to deploy on Kubernetes, we should add this to the doc.

[2017-08-15 20:01] rcavalcanti opened #938 "Regression on logback configuration"
A recent PR (sent by yours truly) added a FileAppender for logback that use a rolling policy (`ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy` ) only available on Logback starting from 1.1.7.

This got unnoticed as it can only be detected at runtime.

For master branch we can simply update logback version.

For branch 1.3.7 we can revert the changes or use a equivalent appender.

[2017-08-15 23:16] TimMoore opened #941 "Add a check for slow getLocalHost() to the development enviroment"
Many Java users on macOS are affected by this bug: https://thoeni.io/post/macos-sierra-java/

It can cause slow startup and flaky behavior in the Lagom development environment.

We could add a check to the sbt/Maven plugins that prints a warning and links to that blog post if `java.net.InetAddress.getLocalHost()` takes more than 100ms.

[2017-08-16 07:18] #925 closed

[2017-08-16 07:23] huntc commented on #59
I'd like to see this issue closed. What do you think @jroper - given that we now have the Tech hub guide: https://tech-hub.lightbend.com/guides/k8s-microservices/

[2017-08-16 12:40] ignasi35 opened #943 "Lagom Logging detailed specs"
This issue explains in more detail what's expected from lagom's logging default implementations:

1. only logging on stdout by default
2. no abbreviations of package nor stacktrace
3. timestamps in UTC, with millis precision and in a sortable format (YYYY-MM-DD…)
4. all logging scenarios (Dev, Test, Prod) should use the same format
5. log traces may use the format datailed in [1](https://github.co

[2017-08-16 12:41] ignasi35 commented on #943
See #938 and #923.

[2017-08-16 15:30] rstento opened #944 "Improve documentation on Lagom's use of message broker"
We received feedback:

Lagom's approach to using Kafka is different from the native approach, and the docs don't help a reader understand how or why. It isn't clear how the Message Broker API would work with other message brokers (e.g., SQS) since it relies on Kafka-like semantics.

[2017-08-16 16:20] ignasi35 commented on #852
Hi @ploddi, upgrading play under lagom to 2.6.3 will solve this issue completely so that the plugin order won't matter anymore. See #931

[2017-08-16 16:23] ignasi35 commented on #852
As soon as we release `1.4.0-M2` we should regression this.

[2017-08-17 10:12] ignasi35 commented on #943
Exceptional scenarios:

6. In Dev environment, use `%colored` stdout
7. In Dev environment, use short timestamps in the machine default TZ

[2017-08-17 10:21] #931 closed

[2017-08-17 13:38] #938 closed

[2017-08-17 13:38] #943 closed

[2017-08-18 12:59] dr3s commented on #644
https://github.com/lagom/lagom/issues/121#issuecomment-322498653
I could be wrong here but I though that the play shutdown would stop incoming connections but would also allow existing requests to finish and shutdown the server in a later phase.

[2017-08-18 13:01] dr3s commented on #644
@jroper if there is anything in particular (testing, docs, code, etc...) with this or any other 1.4 issue that we can help with to get it over the line, please let me know.

[2017-08-20 10:06] mihbor opened #951 "PersistentEntityTestDriver$NoSerializer.toString throws NPE"
### Lagom Version (1.2.x / 1.3.x / etc)
1.3.6
1.3.7-RC1
1.4.0-M1

### API (Scala / Java / Neither / Both)

Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

4.4.0-78-generic #99~14.04.2-Ubuntu SMP Thu Apr 27 18:49:46 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### JDK (Oracle 1.8.0_112, OpenJDK 1.8.x, Azul Zing)

java version "1.8.0_92"
Java(TM) SE Runtime Environment (build 1.8.0

[2017-08-21 00:48] TimMoore opened #953 "Document switching between netty and akka-http service gateways"
#894 introduced an experimental new implementation of the development mode service gateway based on akka-http instead of netty. In 1.4, we plan to enable the akka-http implementation by default (see #912).

We're missing documentation on how to configure the implementation in `build.sbt` or `pom.xml`.

[2017-08-21 01:30] TimMoore commented on #936
Was this completed in #937 @rstento? I see that pull request is still marked as "WIP" but it was already merged, so it's not clear if this is done or there was some follow-up work to complete.

[2017-08-21 10:03] ignasi35 opened #954 "XxxPersistenceComponents require JsonSerializer"
When implementing a `LagomApplication with CassandraPersistenceComponents` (or Jdbc or Slick) the trait inheritance includes `ClusterComponents` which extends `RequiresJsonSerializerRegistry`. `RequiresJsonSerializerRegistry` requires implementors to provide:

[code]

This trait composition is forcing the implementors to provide a `JsonSerializerRegistry` implementation when it could be abstracted

[2017-08-21 13:46] #502 closed

[2017-08-21 15:08] rstento commented on #936
It's done @tmoore, I forgot to remove the WIP from the title.

More could be done to simplify the page, but @ignasi35 and I agreed that it
was best to get the links out there. The rest can be done as part of the
overall doc effort.

Ruth Stento
User Experience Lead
Lightbend

512-818-6459
<http://lightbend.com>
<https://www.reactivesummit.org/registration?utm_source=email&utm_medium=email-signatur

[2017-08-21 15:10] ignasi35 commented on #936
I'm closing this, then

[2017-08-21 15:10] #936 closed

[2017-08-22 11:01] #579 closed

[2017-08-22 11:39] ignasi35 opened #957 "Document JsonSerializer.compressed"
https://github.com/lagom/lagom/pull/955 added support to conditionally compress JSON serialized messages used inside the cluster. This was a missing feature in scaladsl (see #502 ).

This is commit but not documented in the ref guide.

[2017-08-22 17:49] ignasi35 commented on #644
Hi @dr3s we've been triaging the open issues and this in particular will (probably) be postponed until `1.5.0` (see milestone above).

We're currently working on `1.4.0-M2`, you can have a look at https://github.com/lagom/lagom/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20milestone%3A1.4.0-M2 for open issues.

[2017-08-22 22:13] dr3s commented on #644
that's cool.  I got that impression (re postponing).  It just seemed like Play already was doing what we expected.  I'm sure there is a gap I'm missing that this issue covers but it's not clear to me after load testing during a deployment.  real world results are very good and we are quite anxious for 1.4.

We'd be happy to go after any of the open issues.  We just weren't sure they were all up to

[2017-08-22 22:15] dr3s commented on #644
Just to clarify @jroper [comment](https://github.com/lagom/lagom/issues/644#issuecomment-301363013) seems to imply that the http server won't give requests in progress time to complete but we haven't been able to duplicate that with our sample code for this issue.

[2017-08-23 01:49] jroper commented on #644
I don't know about the akka-http backend, particularly in Play 2.6, but with the Netty backend (what Lagom uses by default in 1.3.x), here is the shutdown sequence:

https://github.com/playframework/playframework/blob/37928701c1a585649f54d634bbb007a747612d99/framework/src/play-netty-server/src/main/scala/play/core/server/NettyServer.scala#L235

`allChannels` contains both the server listening chan

[2017-08-23 01:54] TimMoore commented on #644
Just a note that Lagom 1.4 is still using the Netty backend by default as of now, and is not configurable (pending #911). So I would not expect to see a change in behavior in 1.4.0-M1.

[2017-08-23 02:04] jroper commented on #644
It seems also that akka-http offers no out of the box support for waiting for active requests to finish before shutting down:

https://github.com/akka/akka-http/issues/907

That's not to say it couldn't be implemented in Lagom, the Play akka-http backend only shuts down the listening channels, and lets the shutdown of the actor system clean everything else up, so it could easily be done in a Play

[2017-08-23 02:46] dr3s commented on #644
thanks for the detailed response. I'll review that code and try to update the test case to fail in 1.4.

[2017-08-23 02:56] TimMoore opened #960 "Regression: flaky ScaladslKafkaApiSpec"
There was a long standing issue (#753) with the tests for Kafka integration. It was originally fixed in #768. Later, the Kafka tests were substantially reworked in #878, and some of the changes in #768 were rolled back (because I thought they weren't necessary).

We've just seen another failure in https://travis-ci.org/lagom/lagom/jobs/267038511 (which I will re-run, so we'll lose the original bui

[2017-08-23 08:42] TimMoore commented on #121
If this is something that Lagom gets for free with Akka 2.5, then we should deprecate the graceful leave API and remove the implementation (make it a no-op).

[2017-08-23 10:04] #929 closed

[2017-08-23 10:32] #912 closed

[2017-08-23 12:54] #957 closed

[2017-08-24 13:00] rcavalcanti opened #962 "Upgrade Reactive Kafka to 0.17"
Reactive Kafka 0.17 is just out. Just after we upgraded Lagom to use v0.16.

This version also brings Kafka 0.11.

https://github.com/akka/reactive-kafka/milestone/17?closed=1

[2017-08-24 15:16] jdutton commented on #648
I encounted this issue also, because as @TimMoore suggests, we *do* use fine grained message keys, compaction, and we want to partition all the fine grained message keys on the same partition (they are related to the same aggregate root / entity).

In fact, the name `PartitionKeyStrategy` confused me since I thought it was related to the Kafka partition, but it's really just the function to extrac

[2017-08-24 16:34] ignasi35 opened #964 "CircuitBreakers should not consider http status code<500 as failure"
Currently Lagom's default HTTP client consider any HTTP response with status code [between 400 and 599](https://github.com/lagom/lagom/blob/c43d8a780475b010d20e0411babe38b389a71162/service/core/client/src/main/scala/com/lightbend/lagom/internal/client/ClientServiceCallInvoker.scala#L219-L219) to be a failed request and all those increment the [circuit breaker count of failures](https://github.com/

[2017-08-24 17:41] ignasi35 commented on #964
We need to provide the `defineFailureFn` in the [call to `withCircuitBreaker`](https://github.com/lagom/lagom/blob/e9f9e82490218756c92cc6e9e9c3d7c116eb81ae/service/core/client/src/main/scala/com/lightbend/lagom/internal/client/CircuitBreakersPanelInternal.scala#L45-L45).

[2017-08-24 18:02] ignasi35 commented on #964
The change suggested in my previous comment requires upgrading the `CircuitBreakersPanel` so I think this change should be solved before `1.4.0`, otherwise we would be breaking API.

[2017-08-24 18:56] ignasi35 commented on #648
I agree, we should rename that.

I think you mentioned something on that line already. IIUC, on the consuming you are modelling the topic via a `Service.Descriptor`, then you inject that `Service` into the actual `ServiceImpl` and invoke the method that returns the `Topic[T]` so you can `subscribe`. This PR, as is, solves the needs of the subscriber to gain access to the `Key` and covers your curr

[2017-08-24 19:39] jdutton commented on #648
That would be @ignasi35, thanks!

[2017-08-24 21:06] TimMoore commented on #962
Oh, does it _require_ Kafka 0.11? That could be an issue. I think we'll want to stay backward compatible with 0.10.x.

[2017-08-24 21:07] TimMoore commented on #962
Looks like we're good: https://github.com/akka/reactive-kafka/pull/327#issuecomment-321289280

[2017-08-24 21:15] ignasi35 commented on #962
Thanks @timmoore for reaserching. LGTM

[2017-08-24 21:16] ignasi35 commented on #962
(previous message was meant for the PR)

[2017-08-24 22:33] TimMoore commented on #964
I don't think we can change the behavior in `ClientServiceCallInvoker`, which is what maps status codes to exceptions. It needs to either deserialize the response to the service call response message type, or deserialize to an exception. Maybe we could delegate that decision to the deserialization layer. It's possible that a user's response message type is able to encode 4xx errors, but I would ex

[2017-08-25 02:52] TimMoore opened #966 "[1.3.x] Logback version regressed between Lagom 1.2.x and 1.3.x"
In #938, @rcavalcanti noted:

I got a report from @fsat today that updating a service (with a custom log configuration) from Lagom 1.2.2 to 1.3.7 resulted in a `ClassNotFoundException` on `ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy`

Here are excerpts from the dependency trees:

Lagom 1.3.7:

[code]

Lagom 1.2.2:

[code]

Some of the restructuring in Lagom 1.3 (before we had depende

[2017-08-25 02:54] TimMoore commented on #966
Another note from @fsat:

[2017-08-25 03:21] #962 closed

[2017-08-25 07:02] rcavalcanti commented on #966
We almost got it right. At some point I was upgrading 1.3.7 to use Logback 1.1.7 but gave up because of many other dependencies it was pulling/upgrading transitively and I thought we should not upgrade dependencies on a minor release if it was not related with a bug fix.

Unfortunately we had already introduced a regression when going from 1.2.2 to 1.3.7.

[2017-08-25 08:09] ignasi35 commented on #964
The original description of the issue was miss-leading. I didn't mean to change `ClientServiceCallInvoker`.

:-) Great minds think alike. See #965

That's an interesting idea: we could have a circuitbreaker within a circuitbreaker. The innermost will open rather quickly when few failures happen in a short span of time. The outermost would open if a high number of errors is detected in span of time

[2017-08-26 15:34] olivierdeckers commented on #919
This would be an improvement. I like having the updated state (after applying the event handlers) in the reply method, because I often find myself having to repeat the same transformation of the event handler in the afterPersist.

I agree that afterPersist should be a best-effort call. We perform side effects for which this is not enough using topics and the message broker.

This change would brea

[2017-08-28 02:30] huntc opened #971 "Lagom services do not exit on Akka cluster membership removal"
### Lagom Version (1.2.x / 1.3.x / etc)

1.3.7

### API (Scala / Java / Neither / Both)

Scala and Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Observed on OS X and Linux.

### JDK (Oracle 1.8.0_112, OpenJDK 1.8.x, Azul Zing)

For OS X:

java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed

[2017-08-28 03:25] TimMoore commented on #971
As a tip for anyone else reproducing: `conduct logs hello -f` needs to be run _outside_ of sbt (due to https://github.com/typesafehub/sbt-conductr/issues/278).

[2017-08-28 03:26] TimMoore commented on #971
Also, recommend `conduct logs hello -f -n 100` in case the logs are already filled with messages from the Kafka producer.

[2017-08-28 03:50] TimMoore commented on #971
Here's a partial thread dump that shows the deadlock:

[code]

[2017-08-28 08:35] #953 closed

[2017-08-28 13:10] rcavalcanti commented on #919
@olivierdeckers, I think the best thing to do in this case is to provide an alternative API living next to the current. That alternative API would be marked as experimental and we would like to, guess what, experiment with it and have feedback from the community.

Once we decide about it's shape we can make it the default one and deprecate the old.

[2017-08-28 14:15] ignasi35 commented on #971
I think the partial thread dump @TimMoore shared doesn't show the deadlock I suspected. See this other partial dump:

[code]

I selected 5 threads:

1. `Thread-6` is Play shutting down from a `shutdownHook`. This is triggered by a `System.exit`
2. `Thread-7` is `JoinClusterImpl`'s attempt to kill the JVM after 10s.
3. `hello-lagom-impl-1-akka.actor.default-dispatcher-18` is the Akka termination ho

[2017-08-28 16:53] ignasi35 commented on #971
I just realised --after tweaking `JoinClusterImpl` in several ways, including variations of [1], [2] and [3]-- that `if (Try(Await.ready(system.whenTerminated, 60.seconds)).isFailure) {` in `JoinClusterImpl` is _always_ triggered.

The reason is that `Play.scala#stop()` doesn't seem to end (never).

[code]

The output for the successful variations of the code above is:

[code]

Summing up, the sol

[2017-08-28 17:02] ignasi35 commented on #971
I there's an alternative. I reviewed the code to control who/when is in charge of running the `System.exit`:

[code]

- `isExiting` controls `System.exit` is called once.
-  `needsExiting` is used to claim control over `System.exit`.
- `system.terminate` is invoked but the termination hook will know the `System.exit` is handled somewhere else and ignore it.
- when `Await.result(system.whenTerminat

[2017-08-29 09:54] ignasi35 opened #975 "Trigger Coordinated Shutdown on Cluster Node Downed (master)"
One responsibility of `JoinClusterImpl` is to exit the JVM when the actor system is terminate (it's a configurable feature).

Migrating to Akka 2.5 (where [coordinated shutdown](http://doc.akka.io/docs/akka/current/scala/actors.html#coordinated-shutdown) is available) will have an impact on `JoinClusterImpl` code. This requires manual testing specially when running a cluster with `SBR` setup. See

[2017-08-29 09:58] ignasi35 opened #976 "Remove copyright from template files in Maven archetype"
(potentially duplicate, but searched and failed)

The code inside [`archetype-resources`](https://github.com/lagom/lagom/tree/master/dev/archetypes/maven-java/src/main/resources/archetype-resources) are template files run with the final user's settings. Files inside that folder should not have a Lightbend Copyright header.

` * Copyright (C) 2016-2017 Lightbend Inc. <https://www.lightbend.com>`

[2017-08-29 11:11] ignasi35 commented on #260
It happened again in a build of #965

[2017-08-29 13:05] ignasi35 commented on #971
Closing: the scope of this issue is Lagom `1.3.x` and we already have #975 for it's equivalent work on `master`.

[2017-08-29 13:05] #971 closed

[2017-08-29 14:22] #966 closed

[2017-08-30 10:41] #906 closed

[2017-08-31 16:09] crd opened #980 "Upgrade version of Zookeeper to 3.4.10"
Our Sonar scans flag the present version as having security vulnerabilities -- please upgrade it. Thanks!

[2017-08-31 16:10] crd opened #981 "Upgrade log4j to 2.8.2"
Our Sonar scans flag the present version as having security vulnerabilities -- please upgrade it. Thanks!

[2017-08-31 16:14] crd opened #982 "Update xercesImpl to 2.11.0.SP5 or greater"
Our Sonar scans flag the present version as having security vulnerabilities -- please upgrade it. Thanks!

[2017-08-31 16:18] crd opened #983 "Upgrade logback-classic to 1.2 or greater"
Our Sonar scans flag the present version as having security vulnerabilities -- please upgrade it. Thanks!

[2017-08-31 16:26] crd opened #984 "Investigate and mitigate netty-handler security vulnerability if necessary"
Please refer to https://bugzilla.redhat.com/show_bug.cgi?id=CVE-2016-4970

[2017-08-31 20:27] ignasi35 opened #985 "Upgrade SBT to 0.13.16"
We should upgrade sbt to 0.13.16.

This means:

- internally use it on the build
- upgrade snippets in docs (getting started instructions to build a sample with g8 templates)
- etc...

[2017-09-01 02:16] TimMoore commented on #984
That bug report has this information about affected versions:

Here are the versions of Netty used in recent versions of Lagom:

| Lagom version | Netty version |
| --------------- | ------------- |
| 1.3.5–1.3.8  | 4.0.42.Final |
| 1.3.2–1.3.4  | 4.0.41.Final |
| 1.3.0–1.3.1  | 4.0.40.Final |
| 1.4.0-M1     | 4.1.12.Final |

So it looks like all recent versions of Lagom are unaffected.

[2017-09-01 02:16] #984 closed

[2017-09-01 02:30] TimMoore commented on #983
The version used on `master` is logback 1.2.3

https://github.com/lagom/lagom/blob/master/project/Dependencies.scala#L30

This will be released as Lagom 1.4.0-M2 and eventually 1.4.0 final.

@crd, do you need a backport to the Lagom 1.3.x stable branch?

According to the [Logback NEWS page](https://logback.qos.ch/news.html):

Lagom does not use these components, so I don't think it is vulnerable.

[2017-09-01 04:46] TimMoore commented on #982
On `master` the `xercesImpl` dependency has been removed entirely, so it won't be brought in by Lagom 1.4.0 when it is released.

I tried to update to a newer version on the 1.3.x branch, but unfortunately it looks like 2.11.0 is the newest version available in Maven Central: http://repo1.maven.org/maven2/xerces/xercesImpl/

@crd are you happy to wait for Lagom 1.4.0 to resolve this?

[2017-09-01 04:57] TimMoore commented on #981
Lagom `master`/1.4.0 is already using version 2.8.2.

@crd do you need a backport to the Lagom 1.3.x stable branch or can you wait for 1.4.0?

[2017-09-01 06:36] TimMoore commented on #980
Lagom `master`/1.4.0 is already using 3.4.10: https://github.com/lagom/lagom/blob/master/project/Dependencies.scala#L248

I raised a pull request (#986) to update on the 1.3.x branch.

Note that Lagom only depends directly on the ZooKeeper JAR in the development and test environment.

[2017-09-01 09:30] TimMoore commented on #980
Will be fixed in 1.3.9.

[2017-09-01 09:30] #980 closed

[2017-09-03 23:54] #764 closed

[2017-09-03 23:54] #918 closed

[2017-09-04 06:43] #985 closed

[2017-09-04 06:54] #976 closed

[2017-09-04 16:30] ignasi35 commented on #852
Hi @ploddi , we've just released `1.4.0-M2` which includes Play `2.6.3` that includes a fix to  prevent the protobuf collisions you described. Would it be possible for you to help us test it out?

In a [previous comment](https://github.com/lagom/lagom/issues/852#issuecomment-311964722) you mentioned some order of plugins in `plugins.sbt` caused the error. I suggested a specific order. It'd be grea

[2017-09-04 17:21] ignasi35 opened #990 "Add a blog post introducing the Lagom Recipes"
With https://github.com/lagom/lagom-recipes live it'd be good to have a blog post introducing it and explaining it's purpose.

IMHO, it could be part of the 1.4.0 release.

[2017-09-05 00:38] TimMoore opened #991 "Flaky RDBMS multi-JVM tests"
We've had a number of recent, intermittent failures in the clustered RDBMS tests when they run in Travis CI.

For example:

https://travis-ci.org/lagom/lagom/jobs/271747888
https://travis-ci.org/lagom/lagom/jobs/271571976

[code]

[code]

This may have been triggered by updating Akka Persistence JDBC to 3.0.0 and Slick to 3.2.1 in https://github.com/lagom/lagom/commit/0c22b1f7077c4b8973608494f794b

[2017-09-05 06:30] TimMoore commented on #990
I had been thinking we would wait until we had a few more examples. Maybe we can plan a few this week?

[2017-09-05 06:40] ploddi commented on #852
Plugins order becomes irrelevant, previous setup compiles without errors with `1.4.0-M2`. Latest `ScalaPB` `0.6.2` also compiles.

[2017-09-05 06:51] TimMoore commented on #991
I can't reproduce this, or make much of the build logs in Travis. Currently, the tests are run without a slf4j implementation bound:

[code]

So, as a first step, I'll add logback so we can see what's going on. Then I'll keep re-running the pull request build until it fails again.

[2017-09-05 08:31] WayneWang12 opened #993 "Testing stream service which serve a source per request."
### Lagom Version (1.2.x / 1.3.x / etc)

1.3.x

### API (Scala / Java / Neither / Both)
Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Linux wayne-ThinkPad-P50 4.10.0-34-generic #38~16.04.1-Ubuntu SMP Wed Aug 30 18:01:34 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
### JDK (Oracle 1.8.0_112, OpenJDK 1.8.x, Azul Zing)
java version "1.8.0_144"

### Expected Behavior
Test should pas

[2017-09-05 10:43] ignasi35 commented on #993
hi @WayneWang12 I understand that when your start in dev mode the code behaves as expected but the test fails.

Is it possible the tests closes the server before the assertion completes? It looks like you are using `AsyncWordSpec` have you tried the same test with `WordSpec`?

[2017-09-05 12:46] WayneWang12 commented on #993
Yes. I've tried both using `whenReady`. The error is `assertion failed: expected OnNext(Wayne0), found OnComplete`, and it has no relation to `AsyncWordSpec` or `WordSpec`. `Source` just don't give the messages I'm expecting. It's getting `onComplete` status too soon. And I don't know if this is due to akka stream test kit or the client implementation.

[2017-09-05 21:00] jibbers42 commented on #990
How about a recipe for file transfer? I've seen two requests on gitter and I'll need it for my project. One suggestion was to use Play. Assuming it isn't added to Lagom then a recipe might be nice for those of us that don't know Play.

scala recipe if possible :)

[2017-09-06 03:37] TimMoore commented on #990
Hi @jibbers42 you can find examples of how to write Play applications on the Play web site: https://playframework.com/download#examples

Here's a direct link to a file upload example:
https://github.com/playframework/play-scala-fileupload-example/tree/2.6.x

[2017-09-06 07:35] TimMoore commented on #993
Hi @WayneWang12 I see what's happening here. The problem is the `Source.single("Hello")` in the test code. This causes the request stream to complete immediately after sending that element. Lagom treats a completed stream as a closed connection, so it won't send the response at that point. To solve this, you need to prevent the request stream from completing.

This is actually mentioned in the Lag

[2017-09-06 07:42] WayneWang12 commented on #993
Thank you @TimMoore !
Sorry for my carelessness. I just skipped the comments...
It's certainly OK. I'll close it.

[2017-09-06 07:42] #993 closed

[2017-09-06 08:16] #852 closed

[2017-09-06 09:07] TimMoore commented on #852
Thanks for confirming @ploddi!

[2017-09-06 10:06] ignasi35 commented on #814
Partly related https://github.com/lagom/lagom/issues/993#issuecomment-327400906

Dealing with socket completion in ServiceCalls of type `Source,Strict` or `Strict,Source` has several implications in production and testing.

[2017-09-06 13:19] crd commented on #981
@TimMoore I can wait for 1.4.0 -- thank you!

[2017-09-06 13:21] crd commented on #983
Thanks for your insight @TimMoore -- no need for a backport just for us, especially as Lagom doesn't seem impacted by the vulnerability.

[2017-09-06 13:22] crd commented on #982
@TimMoore happy to wait for 1.4.0. Thanks!

[2017-09-07 00:20] TimMoore commented on #982
@crd thanks for your replies. I'll close these issues.

[2017-09-07 00:20] #982 closed

[2017-09-07 00:21] #983 closed

[2017-09-07 00:21] #981 closed

[2017-09-07 02:19] TimMoore commented on #933
@rcavalcanti do you have any thoughts on how we could fix this without breaking rolling upgrades? A config to opt in?

[2017-09-07 04:42] TimMoore commented on #870
@rsltrifork sorry for my delay in responding. I had a closer look, and I still don't believe there's a bug.

Let me clarify one point: the meaning of "request" and "response" in this context is the `Request` and `Response` types of the service call, which relates to the HTTP request and response bodies. The response serializer is used to _serialize_ responses on the server side, and to _deserializ

[2017-09-07 06:00] TimMoore commented on #951
Thanks for reporting, @mihbor. In general, we recommend against using `null`, preferring to use `Optional` instead. I agree, this could be more defensive.

[2017-09-07 06:35] rcavalcanti commented on #933
I didn't thought about rolling upgrades.

I'm writing that from the top of my head. I need to go back to this code and analyse all possible scenarios, but I would consider it less important.
This message is sent at startup to make sure that the task is executed in only one node and the goal, IIUC, is to create the tables only.

Since we don't support schema migration, precisely because this would

[2017-09-07 07:01] jroper commented on #933
Rolling upgrades can be achieved by doing the following:

* Deploy to all nodes with `Execute` mapped to the Java serializer.
* Reconfigure `Execute` to be mapped to the new serializer, and redeploy.

No need for a config option, all serializer mappings are in configuration. We just need to document the process including how to configure `Execute` to use the Java serializer as part of the migratio

[2017-09-07 07:14] TimMoore commented on #933
Good point.

Wouldn't it be safer to have it continue to use Java serialization by default, and instruct on how to configure the protobuf serializer?

[2017-09-07 07:19] TimMoore commented on #933
But then as soon as you deploy one node with the new serializer, it will start sending messages that can't be deserialized to the oldest node in the cluster, right? I think we would need to write a serializer that reads a config setting to choose either Java or protobuf serialization, with a deserializer that can detect the type of serialized data it receives. Then, deploy that to all nodes with i

[2017-09-07 09:02] jroper commented on #933
Akka serialized objects carry a serializer id (an integer), and that id is used to identify which serializer should deserialize it, not the type. So, if `com.example.Foo` is configured to be serialized with the Java serializer on one node, and then it's sent to another node, it doesn't matter what that node has configured for `com.example.Foo`, the Java serializer will be used to deserialize it.

[2017-09-07 09:23] TimMoore commented on #933
Oh, great! I had no idea. Thanks for explaining @jroper.

[2017-09-08 04:59] TimMoore commented on #975
As part of this, we should ensure that the JVM is _not_ shut down in development and test modes, even if configured to do so in production..

See https://github.com/lagom/lagom/pull/978#discussion_r137490201

[2017-09-08 09:26] ignasi35 commented on #975
Tip: in tests, we're already setting `cluster.join-self` to `on` so we probably want the cluster settings to default to production values and override for testing and dev. Note that `exit-jvm-when-system-terminated=off` is not a production-ready default.

[2017-09-12 07:14] #951 closed

[2017-09-13 05:16] TimMoore opened #996 "Document ReadSide.register in the Cassandra/RDBMS read-side documentation"
The documentation on persistent read-sides has a section on registering read-side processors using `ReadSide.register`:

https://www.lagomframework.com/documentation/1.3.x/java/ReadSide.html#Registering-your-read-side-processor

The documentation for `CassandraReadSide`, `JdbcReadSide`, etc. do not mention this, so someone reading one of those pages without also referring to the overview page migh

[2017-09-13 14:34] rsltrifork commented on #870
You are correct. This puzzled me until I realized, that the client is the lagom service test framework, and it adopts the (de)serialization settings from the service, it is testing!

Here is the test that produced the stack trace:
[code]
The service itself has no need to deserialize it's own response - that is the REST client's responsibility - which is why I don't want to implement deserializatio

[2017-09-13 14:35] #870 closed

[2017-09-13 15:23] ignasi35 opened #998 "Improve Header and failure response management to support 401"
The HTTP status code 401 is a value used in responses that must also include the `WWW-Authenticate` header. On top of that, the value of the header may vary on every response with parameterized values, nonce's, etc...

The client end may need to obtain the `UnauthorizedException` and be able to extract the value of the header from it too.

[2017-09-14 00:01] ilucker commented on #899
Do you have an example of boilerplate that can be removed?

[2017-09-14 02:54] TimMoore commented on #870
@rsltrifork thanks for your reply. The extra context helps explain things.

One more thing I'll clarify: I wouldn't consider the service API to be only part of the service. Instead, it describes the interface between the client and the service, and is used by both sides to communicate. This is true whether you are using a service client in your tests, in another Lagom service, or in another Java a

[2017-09-19 08:56] aklikic commented on #322
+1

[2017-09-19 09:40] ignasi35 opened #999 "Replace EnsureActive with Akka's StartEntity"
Akka 2.5 introduces the StartEntity message specially meant to activate a sharded entity. On top of that it's implemented so that it will not be delivered to the entity actor itself.

If we replaced the [EnsureActive](https://github.com/lagom/lagom/blob/e53bda5fd2f83aaa4cd639c9ad27d6053ede812f/persistence/core/src/main/scala/com/lightbend/lagom/internal/persistence/cluster/ClusterDistribution.scal

[2017-09-19 10:47] ignasi35 commented on #999
This may be simpler if #899 is completed first.

[2017-09-19 11:32] bmontuelle opened #1000 "Allow for multiple HTTP headers with same field name in ResponseHeader"
### Are you looking for help?

Following up the discussion on glitter channel [https://gitter.im/lagom/lagom?at=59bfcc2d7b7d98d30d0d3005](https://gitter.im/lagom/lagom?at=59bfcc2d7b7d98d30d0d3005)

### Lagom Version (1.2.x / 1.3.x / etc)
1.4.0-M2

### API (Scala / Java / Neither / Both)
Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
MacOS `10.12.6 (16G29)`

### JDK (Oracle 1

[2017-09-19 14:22] ignasi35 commented on #999
We should remove the BackoffSupervisor from `ReadSideImpl`. The backoff supervision is only required in the stream inside the `ReadSideActor` and that may be achieved with `RestartSource` and `RestartFlow`. If/When the `ReadSideActor` dies, the `StartEntity` will re-activate it again.

[2017-09-19 14:41] ignasi35 commented on #999
In the case of a `ReadSideActor`, using `RestartSource` and `RestartFlow` will have the side effect that a user-provided `Flow` or an akka-persistence `Source` could be restarted without invoking `globalPrepare` and `prepare`. This could lead to a situation where a field initialised in `prepare`  (e.g. a `PreparedStatment`) gets unusable/corrupted causing the user-provided `Flow` to fail constantl

[2017-09-19 16:25] ignasi35 commented on #913
This is done both for [java](https://github.com/lagom/lagom-recipes/tree/master/cors/cors-java) and [scala](https://github.com/lagom/lagom-recipes/tree/master/cors/cors-scala) as recipes.

Do we need anything else?

[2017-09-19 18:45] ignasi35 commented on #999
This change also affects `JdbcReadSideSpec`(both scala and java DSLs)

[2017-09-19 22:16] TimMoore opened #1001 "Support Apache Ignite as a persistence back end"
https://ignite.apache.org/

Ignite is a distributed in-memory database with SQL support.

[2017-09-20 04:31] gmethvin commented on #1000
At its core I believe this is a Play issue, not a Lagom one. There is some context here: https://github.com/playframework/playframework/issues/3279

This is not really a problem for Play users because already has a high-level API to handle cookies, for example:

[code]

Lagom has it's own `ResponseHeader` that wraps Play's, and doesn't have any explicit handling for cookies.

As a workaround, I th

[2017-09-20 04:33] jroper commented on #1000
I was just about to reply with exactly the same thing. Play unfolds `Set-Cookie` headers here:

https://github.com/playframework/playframework/blob/8a660fc12d359e8e005ffc368883ee5124262d0e/framework/src/play-server/src/main/scala/play/core/server/common/ServerResultUtils.scala#L237

[2017-09-20 08:32] #708 closed

[2017-09-20 08:33] #991 closed

[2017-09-20 08:34] bmontuelle commented on #1000
Thanks, the solution with a single `Set-Cookie` header with the actual content separated with `;;` does works

[2017-09-20 08:46] ignasi35 opened #1002 "Improve build times"
Adding support for scala 2.12 and running the CI builds with cross build increased the build times quite noticeably.

It's be good to split the builds, use alternative CI platforms (lightbend's jenkins?) that run faster or other strategies in order to get quicker feedback.

[2017-09-20 13:55] ignasi35 opened #1003 "Use a Java formatter"
Same thing we apply a scala formatter it'd be good to have a java formatter run on every compilation.

I just stumbled upon https://github.com/typesafehub/sbt-java-formatter which may be enough for our initial needs.

[2017-09-21 05:29] TimMoore commented on #913
Let's keep it at that for now and see how we go.

[2017-09-21 05:29] #913 closed

[2017-09-21 12:42] ignasi35 commented on #999
In the case of a `ReadSideActor`, using `RestartSource` will cause event duplication for all events consumed since the last time this actor was started. The reason is that the `prepare` method is responsible for locating the `Offset` where the stream should continue consuming from. This problem could be solved by moving the `prepare` call inside the closure of the `RestartSource`.

Moving the `pre

[2017-09-21 21:42] ignasi35 opened #1006 "ClusterDistributed Actors don't honour BackoffSupervision"
`ReadSideActor` and other sharded actors distributed across the cluster may not recover as fast as the user expects.

Current implementation of `ReadSideImpl` and `ReadSideActor` will restart the `ReadSideActor` in case of failure but the actor will sit idle until an `EnsureActive` message is received. When  `EnsureActive` is received is undefined because each node in the cluster sends `EnsureActi

[2017-09-22 06:56] hridayeshgupta commented on #541
Yes, pressing enter out of habit to add few blank lines to make console more readable exits running server, which is really annoying!

[2017-09-22 08:36] rcavalcanti commented on #999
Have we maybe mixed things by offering a `prepare` method that has the responsibility to prepare what ever needs to be done + retrieve the last know offset?

From the scaladoc/javadoc:

From the docs we are saying that there is a primary purpose + a piggy-back one. That's a good example of missing concerns. We should have a `prepare` and a `findLastestOffset`.

Anyway, although I think it was a mi

[2017-09-22 08:42] datalchemist opened #1007 "Document stream service specific behavior"
The behavior of streaming service call should be more documented.
The fact that the websocket closes immediately when the client Source completes, without waiting for all responses being send downstream, is rather counter-intuitive when we reason at an abstract stream level.

Currently, to my knowledge, the only mention of this is through the following comments in the section about stream service

[2017-09-22 11:05] ignasi35 commented on #999
We still have the option to do it.

How about:

- [ ] deprecate `prepare():Future[Offset]`
- [ ]  add `prepareSource():Future[Offset]`
- [ ]  add `prepareFlow():Future[Done]`
- [ ]  wrap the `Source` in a `RestartSource` that invokes `prepare` and `prepareSource`
- [ ]  wrap the `Flow` in a `RestartFlow` that invokes `prepare` and `prepareFlow`

[2017-09-22 11:12] ignasi35 commented on #814
See also https://github.com/lagom/lagom/issues/1007 and the link to [akka-http docs](http://doc.akka.io/docs/akka-http/current/scala/http/client-side/websocket-support.html#half-closed-client-websockets) it links to.

[2017-09-22 15:43] ignasi35 commented on #1006
#1005 fixes this issue for `ReadSideActor`

[2017-09-22 15:48] ignasi35 commented on #999
This issue doesn't make sense anymore. #999 is meant to replace `EnsureActive` with `StartEntity` but in Lagom the sharded entity needs the payload of the message (`EnsureActive` or `StartEntity`). The problem is that `StartEntity` is not delivered to the entity. This is a feature of Akka Cluster Sharding since v 2.5: the message is used to actiavte the entity but is not delivered to the entity pu

[2017-09-22 15:48] #999 closed

[2017-09-22 16:00] ignasi35 commented on #899
@ilucker there's an example in #1005

[2017-09-24 23:35] TimMoore opened #1008 "[1.3.x] Update Play to 2.5.17"
https://groups.google.com/d/topic/play-framework/3S6a9pvvfPw/discussion

[2017-09-26 00:12] jroper opened #1009 "Back office UI"
Lagom is in a perfect position to be able to provide a back office UI to itself, in particular to its persistent entities. Unlike using CRUD relational database schema, where there exist many tools to assist users in manually manipulate the data when necessary (most obviously, plain old SQL), event sourcing makes this far more difficult due to the data being stored serialized inside columns of the

[2017-09-26 09:48] rcavalcanti commented on #919
We have published a first stab for a new Lagom Persistence API.
https://github.com/lagom/persistence-api-experiments

This is only a sandbox that we are using to design the API and get the types on the right place. It's only Scala for the moment and it even don't use Akka yet.

Feedback is more than welcome.

[2017-09-26 13:55] mihbor commented on #541
+1

[2017-09-26 15:36] mihbor commented on #919
I really like the explicit handling of entity creation. How would deletion be handled? By an event-handler that sets the state to None or an explicit API as well?

[2017-09-26 18:58] ignasi35 opened #1012 "Support arbitrary KeySerializers in KafkaBroker implementation"
The Kafka implementatino of the Lagom API only supports `String` as the type for the keys of the messages.

Other types should supported. There are two options but opening the door to setting an arbitrary `KeySerializer` as a Topic Property could be an option. Then, Lagom would fallback to StringSerializer as it does now.

[2017-09-26 19:26] rcavalcanti commented on #919
@mihbor I have discussed this topic a couple of times. The most common argument against it is that an `Entity` in an Event Sourced app is never deleted. I don't agree with it. What is never deleted are the events. The `Entity` itself is just an accumulation of them and that doesn't mean that you can't have an event that removes the accumulation.

I have seen a system that did something on those li

[2017-09-26 19:30] rcavalcanti commented on #919
For clarity, I'm not saying that I'm totally against a delete. It's just something that we should be careful. If we ever add it we need to have a very good case of it and a good companion article / blog explaining what that really mean to 'delete' an `Entity`.

And uninformed users will probably be trapped and believe that such a method would delete the events.

[2017-09-26 22:59] richdougherty commented on #541
Maybe a different key - escape perhaps?

[2017-09-27 02:38] TimMoore opened #1013 "Add a default .gitignore file to the Maven archetype"
The Giter8 template [has one](https://github.com/lagom/lagom-java.g8/blob/master/src/main/g8/.gitignore). We should add this to the Maven archetype as well and keep them in sync.

[2017-09-27 08:59] mihbor commented on #919
Sure, I get it. Perhaps I should have elaborated a bit more. What I meant was that, now that there is going to be explicit handling for an initial "non-existence" of entities, what will be the best way to handle a (deletion) event to transition the entity state to be equivalent to that of a non-existent entity for the purpose of handling further commands. Currently I just set the state to null and

[2017-09-27 09:33] rcavalcanti commented on #919
When the `State` becomes `Option[State]`, applying an `Event` will be.

[code]
If an event handler returns `null` you will end up with `Some(null)`, instead of `None`.

We could fix that by adding special `delete` handlers or by converting all `Some(null)` automatically to `None`.

[code]

That will bring your model back to `None` and on next command you will be using `Behavior.first` once again.

[2017-09-27 09:36] mihbor commented on #919
Yes, I'd too prefer to avoid the null in the new API.

[2017-09-27 09:56] ignasi35 opened #1014 "Programatically force a snapshot"
In some cases where an event handling is very costly, it'd be good to allow a user to force the generation of a snapshot so that the event cost is not paid on every rehydration.

[2017-09-27 10:27] ignasi35 commented on #964
The solution as implemented in #965 can't be backported to the `1.3.x` branch because the solution in #965 relies on Akka 2.5.x which is not available in the `1.3.x` branch.

This feature will not be available until next release of Lagom 1.4.x

[2017-09-27 11:18] rcavalcanti commented on #1014
I think this could be achieved in an elegant with the future, yet to be polished, persistence api.

[code]

[2017-09-27 14:06] ignasi35 commented on #1008
This should have closed when merging #1011

[2017-09-27 14:06] #1008 closed

[2017-09-28 07:53] andrei-l opened #1018 "Lagom always returns binary data via websocket to Firefox whereas should return text message when expected"
This behvaiour could only be observed with Firefox browser (e.g. v55.0.3). I tried it on Windows10 and macOS Sierra. Everything works fine (text data is returned) with Chrome on both Windows and mac and on Safari on mac. With Firefox on both OSs binary data is returned.

This is how an example endpoint looks like:

[code]

I narrowed down the issue to [ServiceRouter](https://github.com/lagom/lagom

[2017-09-28 07:56] rcavalcanti commented on #1018
That may be easy to fix.
[code]

[2017-09-30 22:01] etspaceman commented on #839
Hi @agenovese - the best approach that I've been able to automate is via the use of the localstack/localstack docker image and starting that / creating streams as a pre-processing step. I just chain those steps together in a shell script and go from there.

I also want to encourage the use of and contributions to the Alpakka integration for Kinesis as a reactive stream for Lagom. There's a couple

[2017-10-01 09:51] dmitraver commented on #460
hi, can I pick this one? :)

[2017-10-01 11:58] dmitraver commented on #1013
hi, I can pick this one.

[2017-10-01 20:51] Jiri-Kremser commented on #1013
pls close this, if it's done

[2017-10-01 20:58] rcavalcanti commented on #1013
This is done. Closing

[2017-10-01 21:03] Jiri-Kremser commented on #460
I am working on this

[2017-10-02 08:30] abhinavsinha1991 commented on #668
Much needed feature, Tim! Any indication when this could be available for us to use?

Regards
Abhinav

[2017-10-02 19:45] dr3s opened #1023 "Syntax error for mariadb driver on schema creation"
PR coming....

### Lagom Version (1.2.x / 1.3.x / etc)
1.3.8

### API (Scala / Java / Neither / Both)
Both

### Expected Behavior

Schema gets created on startup for mariadb 5.6

### Actual Behavior

When using the mariadb driver, it is very strict for callable statement creation and enforces that it matches { ? = call .... }, so simple CREATE TABLE messages causes a syntax error.

[error] a.a.One

[2017-10-02 19:53] dr3s commented on #1023
For reference, this is the syntax expected by prepareCall that was used before my change: https://docs.oracle.com/javase/8/docs/api/java/sql/CallableStatement.html

[2017-10-02 19:54] dr3s commented on #1023
and mariadb's position: https://jira.mariadb.org/browse/CONJ-63

[2017-10-03 13:28] #1023 closed

[2017-10-03 14:22] ploddi commented on #643
Suggested hack would not work because `Java.lang.IllegalArgumentException: Illegal attempt to encode zero or multiple parts into a path segment` will be thrown by current `Path` implementation at https://github.com/lagom/lagom/blob/master/service/core/api/src/main/scala/com/lightbend/lagom/internal/api/Path.scala#L50. If I understand code at glance `Path` only supports params `Seq` with single ele

[2017-10-03 17:46] agenovese commented on #839
@etspaceman I know I looked at alpakka when I first did this and ran into some sort of issue with their API that made me switch (It was a while ago, so I don't really remember what it was). I'd be happy to accept a PR to the project to switch the library though.

[2017-10-03 17:48] etspaceman commented on #839
Cool! I'll see if I can make it happen :)

[2017-10-04 01:34] jroper commented on #1018
Just a note here - what Lagom is doing may well be completely stupid, my thought was that we could use the `Content-Type`/`Accept` headers to do protocol negotiation, even for WebSockets, but there is no standard for that, so it works fine when Lagom clients communicate with each other, but communicating with browsers like this obviously has exposed some problems with it. If this is the only issue

[2017-10-04 01:43] jroper commented on #1007
Agreed, we have very little in the docs about streaming requests. I can't even remember what happens if you feed an incoming `Source` into `Sink.cancel`. There are good reasons for the behavior that we currently have, but it needs to be explained.

[2017-10-04 08:11] #964 closed

[2017-10-04 08:32] rcavalcanti commented on #975
Depends on #742

[2017-10-04 10:22] ignasi35 opened #1027 "Support contract-based testing"
Teams developing Applications where Lagom is not the sole tool to develop microservices need to test communication between services complies with a certain contract. This includes both (1) mocking a remote server and (2) ensuring the lagom-developed API compliance.

Evaluate and consider supporting/integrating Pact, Wiremock or similar tools.

[2017-10-04 12:35] ignasi35 commented on #460
Fixed in #1022

[2017-10-04 12:35] #460 closed

[2017-10-06 11:27] stijndehaes opened #1032 "Replaying a lot of events in a read side processor skips some events"
### Lagom Version (1.2.x / 1.3.x / etc)

All lagom versions

### API (Scala / Java / Neither / Both)

both

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

All

### Expected Behavior

Please describe the expected behavior of the issue, starting from the first action.

We have a lot of events in our database for each day. We have a read side processor to process events and put them

[2017-10-06 22:00] TimMoore opened #1033 "Document the service locator port change in the 1.4 migration guide"
See https://github.com/lagom/lagom/pull/1022

[2017-10-06 23:19] TimMoore commented on #668
@abhinavsinha1991 nobody is working on this as far as I'm aware. It would be a great contribution from someone who is familiar with the details of Avro and the schema registry.

[2017-10-09 14:28] jroper opened #1035 "Scala console API client"
Most of the pieces are already in place to do this, this may be just a documentation task, but there may also be some convenient features that we could add to Lagom to help doing this.

If, as a developer, you want to interact with either your development system, or a test/prod deployment, by invoking service calls directly yourself, a very convenient way to do this would be to use the Lagom clien

[2017-10-09 15:26] jroper opened #1036 "Broker specific properties on Subscriber"
An example use case for this is if you have a Lagom service that wants to consume from multiple Kafka topics, but some of the topics you want `auto.offset.reset` set to `latest`, and for some of them you want it set to `earliest`. Currently, this can only be configured globally for all consumers, but it would be good if the `Subscriber` interface allowed you to set message broker specific properti

[2017-10-10 13:51] acchaulk opened #1038 "Upgrade akka-persistence-jdbc once 3.0.1 is released"
There is a discrepancy between the [databases schemas](https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/test/resources/schema/postgres/postgres-schema.sql#L10) and the [tables slick creates](https://github.com/dnvriend/akka-persistence-jdbc/blob/69086811a20f6571c3a178ceff67323381a3fae0/src/main/scala/akka/persistence/jdbc/journal/dao/JournalTables.scala#L38). [This PR](https://git

[2017-10-10 13:59] rcavalcanti commented on #1038
@acchaulk Thanks for the heads up.

[2017-10-10 16:47] jroper opened #1040 "Devmode service tags"
If you have a system with many microservices, you might not necessarily want to run them all at once, instead you might want to run just a group of microservices. This could be supported by allowing services to be tagged with sequence of tags, configured in `build.sbt`, and then having the `runAll` command be an input task that takes a tag, allowing you to run only the services with that tag if sp

[2017-10-10 17:13] TimMoore opened #1041 "[1.3.x] Update Play to 2.5.18"
Includes this fix https://github.com/playframework/playframework/pull/7888

[2017-10-10 17:34] TimMoore opened #1042 "Allow programmatic control over persistent entity lifecycle"
Some use cases would benefit from more direct control over the persistent entity lifecycle.

For example:

1. Manually trigger passivation, for example in readonly command handler
2. Define a hook to do some cleanup on passivation
3. Co-locate a persistent entity with a related actor on the same node
4. Manually trigger snapshotting (see #1014)

[2017-10-10 17:57] TimMoore commented on #1042
Related: #1014

[2017-10-10 18:00] TimMoore commented on #1036
Related: #650

[2017-10-11 00:54] AndyMoreland commented on #1035
It'd be super nice if there were documentation on how to do this with ammonite as well.

[2017-10-11 01:25] jroper commented on #933
Once #1044 is merged and Lagom 1.3.10 is released, this issue can be worked around by adding:

[code]

to your application configuration. Note that if doing rolling upgrades, you'll need to upgrade all nodes to Lagom 1.3.10 before applying the above configuration in a subsequent rolling upgrade.

[2017-10-11 07:00] olivierdeckers commented on #339
I agree with @jroper that this would be a useful tool for debugging or support teams. @rcavalcanti If I understand you correctly, you fear that introducing this feature would lead people that are not familiar with ES/CQRS to misuse it.

I don't see a problem with allowing people to use this feature to get them started quickly, and have them pay the cost of building an additional readside view late

[2017-10-11 08:17] ignasi35 commented on #1042
(Added `4.` on the description)

[2017-10-11 15:14] jroper commented on #933
Note, once this is fixed, we should turn off Java serialization in our multijvm tests to ensure we don't forget serializers in future.

[2017-10-11 15:15] jroper opened #1045 "Disable Java serialization in multijvm tests"
This should prevent issues like #933.

[2017-10-11 19:15] TimMoore commented on #1013
I'm reopening this because projects created from the archetype still don't contain the `.gitignore` file as hoped.

It seems this requires some additional workarounds:

- https://issues.apache.org/jira/browse/MRESOURCES-190
- https://stackoverflow.com/questions/7981060/maven-archetype-plugin-doesnt-let-resources-in-archetype-resources-through

@dmitraver if you'd still like to work on this, that w

[2017-10-11 22:33] TimMoore commented on #497
There's some related discussion in this recent akka-user thread: [How do people handle "delayed" events in eventsByTag in Cassandra?](https://groups.google.com/d/topic/akka-user/TH8hL-A8I4k/discussion)

According to @patriknw in that thread, best practice is to set `delayed-event-timeout` and to reduce `eventual-consistency-delay` to a lower value (e.g., 200ms). This requires that all events for a

[2017-10-12 03:39] dmitraver commented on #1013
Yup, I could take a look.

Sent from my iPhone

[2017-10-12 06:44] micho10 commented on #996
Hi, I can pick this one.

[2017-10-12 17:24] TimMoore commented on #1041
Fixed in #1046

[2017-10-12 17:24] #1041 closed

[2017-10-12 17:27] TimMoore opened #1048 "[1.3.x] Update Akka Persistence Cassandra to 0.30"
We can't backport #1037 directly because Akka Persistence Cassandra 0.57 requires Akka 2.5, but the bug it fixes (https://github.com/akka/akka-persistence-cassandra/issues/237) also affects earlier versions of Akka Persistence Cassandra. The fix has been backported to the Akka 2.4 compatible branch (in https://github.com/akka/akka-persistence-cassandra/pull/243) and released as Akka Persistence Ca

[2017-10-12 18:55] #933 closed

[2017-10-12 20:26] jroper opened #1050 "Javadsl PersistentEntityRef.ask has an invalid type signature"
The Java type signature of `PersistentEntityRef.ask` is:

[code]

This is illegal according to the [JLS section 4.4](https://docs.oracle.com/javase/specs/jls/se8/html/jls-4.html#jls-4.4):

`Command` is a type variable, so the `Cmd` type variable can't have both it and `ReplyType` as its type bounds, the javac error emitted is:

[code]

Of course, we don't specify this signature in Java, we do it i

[2017-10-13 05:22] aklikic commented on #1042
+1

[2017-10-13 05:54] micho10 commented on #996
I created a PR. In the issue description there was only a link to the javadsl, but I also added the missing documentation to the scaladsl. Please, let me know if there are any issues.

[2017-10-13 09:40] #1018 closed

[2017-10-13 09:46] #996 closed

[2017-10-13 17:27] TimMoore commented on #1048
Fixed in #1049.

[2017-10-13 17:27] #1048 closed

[2017-10-16 10:42] leviramsey commented on #1036
Also related: #760

[2017-10-17 07:18] FrederikGoovaerts commented on #668
Hey Tim, do you have any hands-on experience experimenting with the Schema Registry and Lagom? I would welcome any hints you might have on what classes best to use (e.g. the Avro Serializer) to get this functionality into lagom, and how to best use them without making a mess of the codebase!

[2017-10-17 11:26] yangguang760 opened #1057 "[1.3.9] Delay between onEvent and convertEvent is more than 10 seconds"
### Lagom Version ( 1.3.9 )

### API (Scala )

### Operating System (Ubuntu 16.10)

Linux yang-VirtualBox 4.4.0-97-generic #120-Ubuntu SMP Tue Sep 19 17:28:18 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### JDK (Oracle 1.8.0_112, OpenJDK 1.8.x, Azul Zing)

java version "1.8.0_111"
Java(TM) SE Runtime Environment (build 1.8.0_111-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.111-b14, mixed mode)

F

[2017-10-17 14:55] jroper opened #1058 "Messages not getting published when Kafka is down"
If Kafka is down, messages may not be published. Restarting the service does not help. It seems that we are persisting the offset even in cases where the message hasn't been successfully published to Kafka. I suspect the root cause of this bug is in akka-streams-kafka.

[2017-10-17 15:25] jroper commented on #1058
Actually, I think the problem was on the consumer side, and it was because when I was shutting Kafka down, I was then clearing it's data before starting up, but the consumer (which wasn't restarted) still had the latest offset that it consumed in memory, and was trying to consume messages from that offset, which meant the messages I was publishing didn't get through.

[2017-10-17 15:42] #1058 closed

[2017-10-18 10:22] rs1204 opened #1059 "Lagom Maven Plugin run task fails : lagom-maven-plugin:1.4.0-M1"
Lagom Version (1.2.x / 1.3.x / etc)

lLatest

API (Java)

Operating System (MacOS 10.12)

JDK

java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

Maven Version

Apache Maven 3.5.0 (ff8f5e7444045639af65f6095c62210b5713f426; 2017-04-04T01:09:06+05:30)

Library Dependencies

Expected Behavior
The maven run T

[2017-10-18 15:03] pocman commented on #439
It also got confused thinking that a [DNSServiceLocatorComponents](https://github.com/typesafehub/service-locator-dns) was all we needed to allow the joining of multiple nodes of the same service.
We might want to point to https://github.com/sap1ens/akka-cluster-consul

[2017-10-18 17:30] MysterionRise commented on #1003
@ignasi35 could you take a look for my PR? I'm not sure about formatting file, so I just grab a default Google one. Should it be annotated with copyright header? (i think no)

[2017-10-19 15:04] MysterionRise commented on #1003
@ignasi35 could you point me to the proper formatting for the lagom project, so I could add it in the PR

[2017-10-20 07:18] MysterionRise commented on #941
@TimMoore, so, you're talking about adding checks inside lagom/dev/maven-plugin as well as lagom/dev/sbt-plugin, correct?

[2017-10-20 18:07] dankins commented on #668
I have done a little bit of work in this area:
https://gist.github.com/dankins/d0a681110e41f31f9cea7df255fa8f95
The trouble I am having is how to set the schema registry URL via Configuration in the Service Description.
Asked the same question on the message board:
https://groups.google.com/forum/#!topic/lagom-framework/xt-TSJmDMG0

Happy to collaborate with any other interested parties and get th

[2017-10-22 07:12] aklikic commented on #1014
+1

[2017-10-22 07:14] aklikic commented on #1032
+1

[2017-10-24 05:24] ignasi35 commented on #1032
I think this is fixed in #1037 (`master`)  and #1048 (`1.3.x`)

[2017-10-24 05:24] #1032 closed

[2017-10-24 07:15] ignasi35 commented on #941
@MysterionRise yes, both plugins should include means to detect when the servers take too long to bind.

[2017-10-24 07:17] ignasi35 commented on #1003
This is fixed on #1060

[2017-10-24 08:47] BornToRain opened #1066 "Interface defines more then 22parameters question"
### Lagom Version (1.3.9)

### API (Scala)

### Operating System ( MacOS 10.12.6)

### JDK (Oracle 1.8.0_121)

![image](https://user-images.githubusercontent.com/19318296/31932515-19e6112c-b86c-11e7-9f4a-6b4ceca3f775.png)

### Interface Define

![image](https://user-images.githubusercontent.com/19318296/31932946-61269cc2-b86d-11e7-9c6c-30feab611cfc.png)

### logs
When the interface defines more th

[2017-10-24 10:06] rcavalcanti commented on #1059
@rs1204 can you check the command you are using again?

I have tested the maven plugin with 1.4.0-M1 and I can confirm that it works as expected.

To get the same output you got, I had to run it as: `mvn lagom:`

The right command is: `mvn lagom:runAll`

[2017-10-24 10:13] ignasi35 commented on #1066
Hi @BornToRain , this seems to be a question more suitable for our [mailing list](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!forum/lagom-framework). Having said that, let me try to answer (I'll close the issue after that):

 - the 22-arg limitation is an arbitrary limit Lagom copied from scala. There's no other reason than the fact that we got tired of overloading the met

[2017-10-24 10:13] #1066 closed

[2017-10-24 11:03] ignasi35 commented on #668
@dankins I think an option would be to open a door on lagom's `Descriptor` to add arbitrary properties and have those propagate to the [ProducerSettings](https://github.com/lagom/lagom/blob/ace6117349af54b6b6f6579553bfc7f0d251d135/service/core/kafka/server/src/main/scala/com/lightbend/lagom/internal/broker/kafka/Producer.scala#L171-L171). These arbitrary settings would have to be non-meaningful (l

[2017-10-24 13:12] erip opened #1067 "CassandraReadJournal cannot get events by persistence id"
### Lagom Version (1.2.x / 1.3.x / etc)

1.3.9

### API (Scala / Java / Neither / Both)

Scala

### Expected Behavior

1. Persist event `A` with PersistentEntity whose `persistenceId` is `X`
2. Create a cassandra read journal `readJournal`:

[code]

3. get all current events in that read journal by persistenceId `X`

[code]

4. yield a sequence containing `A`

### Actual Behavior

`events` is alwa

[2017-10-24 13:15] erip commented on #1067
FWIW, a workaround is to use the `CassandraSession` from the `readJournal` object to issue a Cassandra query manually. This is not good because it supposes that the `CassandraReadJournal` API will never change.

[2017-10-24 13:36] chbatey commented on #1067
That looks like the query for creating the materialized view used by events by tag rather than the read query.

The queries the `currentEventsByPersistenceId` execute look more like:

[code]

FYI `message` isn't used any more. Your actual payload will be in `event` column. `tag1` will only be populated if you are persisting a `TaggedEvent` so it is also valid for it to be empty.

[2017-10-24 14:15] #1067 closed

[2017-10-24 14:16] ignasi35 commented on #1067
For the record, I could use @erip 's idea on [lagom-scala.g8](https://github.com/lagom/lagom-scala.g8) using

[code]

[2017-10-24 14:17] ignasi35 commented on #1067
Thanks @chbatey for the insight. ;-)

[2017-10-24 14:18] erip commented on #1067
@ignasi35 For complete closure, I'll post a notional solution:

Because `entityTypeName` is a class member (not static), I added `entityTypeName` to a companion object to my PersistentEntity, with which I override the PersistentEntity's `entityTypeName`. Then I can access a static `persistenceId` and futureproof my DB (like the docs mention).

[2017-10-24 14:22] erip commented on #1067
And to confirm, the above solution worked. 👍

[2017-10-24 19:10] ignasi35 commented on #1000
@bmontuelle I will close this issue. Please reopen if you want to discuss further.

[2017-10-24 19:10] #1000 closed

[2017-10-24 20:58] ignasi35 commented on #166
This requires setting up:

- [ ] service gateway and service locator (both netty and akka-http implementations)
- [ ] each lagom service started
- [ ] cassandra
- [ ] kafka

[2017-10-25 01:46] erip commented on #954
Where do you see this base `SerializerRegistry` living? It doesn't make sense to keep it in `com.lightbend.lagom.scaladsl.playjson`. Also, do you expect much in terms of an API change?

[2017-10-25 04:43] ignasi35 commented on #166
We probably don't need to add any protection on `each lagom service started` since port assignment is pseudo-random and the chances of a collision are equal or smaller than having a port collision between Service Gateways. That is, having a port collision between two lagom services is very unlikely unless the same service is started in separate processes, in which case it's very likely a service g

[2017-10-25 07:12] bmontuelle commented on #1000
@ignasi35 Thats fine to me, we ended up moving all the cookie management into the web gateway and using play Cookies api for it

[2017-10-25 14:42] erip commented on #1045
It's quite likely that I've simply done this wrong, but the tests are failing because [`akka.Done` implements `java.io.Serializable`](https://doc.akka.io/japi/akka/current/akka/Done$.html) and as such has no serializer.

[2017-10-26 14:55] yangguang760 commented on #1057
refer to #497

[2017-10-26 14:55] #1057 closed

[2017-10-26 18:43] saniyatech commented on #1013
Hello Tim,

I worked out a solution for this issue. Can I submit a PR?

Thanks

[2017-10-26 19:51] erip opened #1069 "PlayJsonSerializer should be able to deserialize arbitrary `JsValue`s"
### Lagom Version (1.2.x / 1.3.x / etc)

1.4.0-M2

### API (Scala / Java / Neither / Both)

Scala

### Expected Behavior

Please describe the expected behavior of the issue, starting from the first action.

Some arbitrary `JsValue` should be serializable with `PlayJsonSerializer`

### Actual Behavior

Non-`JsObject`s [aren't deserializable](https://github.com/lagom/lagom/blob/1.3.x/play-json/src/m

[2017-10-26 21:32] TimMoore commented on #720
While we are still planning to make this easier in a future version of Lagom, in the meantime you can work around this by rewiring dependencies in your own service.

Here is an example in Java: https://github.com/lagom/lagom-recipes/tree/master/mixed-persistence/mixed-persistence-java-sbt

[2017-10-27 00:13] saniyatech commented on #1013
I submitted a PR with a fix for this issue. The build is passing all the tests. I performed the manual test mentioned by Tim to publish the archetype and then generate a project from it. The '.gitignore' file was successfully added to the generated project.

PS: It wasn't a newbie problem, but I use sbt on a daily basis at work and so I was able to contribute!

# Hactoberfest

[2017-10-27 01:52] TimMoore commented on #941
Yes, @MysterionRise or possibly it could be in shared code that is used by both plugins. I haven't done a deep investigation of this yet, but it could make sense to put this into [`Reloader`](https://github.com/lagom/lagom/blob/master/dev/build-tool-support/src/main/scala/com/lightbend/lagom/dev/Reloader.scala) or [`LagomReloadableDevServerStart`](https://github.com/lagom/lagom/blob/master/dev/rel

[2017-10-27 02:47] TimMoore opened #1072 "Support dependency injection for objects used by service descriptors"
The Lagom service descriptor API allows you to optionally customize behavior by passing in message serializers, exception serializers, path parameter serializers, and header filters.

The API currently (1.0-1.4) requires a concrete instance of these to be passed into the descriptor. This means that they cannot take advantage of dependency injection. In turn, this makes certain implementation detai

[2017-10-27 02:48] TimMoore commented on #668
There is a more general problem that classes specified in the `Descriptor` don't support dependency injection. This has bitten others implementing message serializers (for request/response as well as Kafka) as well as header filters.

It's come up on the mailing list and Gitter a few times, but I can't find an issue about it, so I raised #1072

[2017-10-27 08:34] TimMoore commented on #954
I just tried removing `RequiresJsonSerializerRegistry` from `ClusterComponents` to see what would break and... nothing broke!

@ignasi35 is there something specific you know of that would require the existence of a generic `SerializerRegistry`? I think it might all be covered by Akka's own serialization bindings.

[2017-10-27 09:09] ignasi35 commented on #954
@erip @TimMoore I have no further thoughts, TBH.

[2017-10-27 09:14] #1013 closed

[2017-10-27 10:46] #643 closed

[2017-10-27 14:47] ignasi35 opened #1075 "Lagom's default error page should not be HTML"
Default error page in lagom is currently an HTML with (in some environments) information about the error.

This could be replaced by a transport-aware alternative. This means that if the default transport for the Service is HTTP-Json then defaulting to a JSON format could be a possiblity.

Another option is to document and/or simplify how create custom [error pages](https://www.playframework.com/d

[2017-10-27 15:04] #1069 closed

[2017-10-27 16:15] ignasi35 commented on #1045
Good call! There is no serializer for `akka.Done`. See https://github.com/akka/akka/blob/32f0936d1730f09ac3201dec29c357cb0549d9cb/akka-remote/src/main/resources/reference.conf

We will have to PR a serializer in Akka for `akka.Done`. See https://github.com/akka/akka/issues/23854

[2017-10-27 20:19] saniyatech commented on #1040
@jroper Do you have any concrete ideas to solve this issue? I would like to work on this issue and it some guidance to get started will be helpful.

[2017-10-27 20:31] saniyatech commented on #1033
I can update the migration guide for version 1.4 with this port change. Is there any particular style to follow for updating the migration guide.

[2017-10-27 21:52] erip commented on #1045
I submitted the PR to akka. I called it a feature instead of a hotfix, so it's unclear when it'll be added. :(

[2017-10-27 22:01] renatocaval commented on #1033
@saniyatech the guide is just a markdown page. We must just add a section for it, that's all

[2017-10-27 23:28] renatocaval commented on #1033
@saniyatech it seems that @erip have already picked this one, see #1076.

[2017-10-28 06:09] #1033 closed

[2017-10-28 15:09] ignasi35 opened #1078 "Document PlayServiceCall"
[`PlayServiceCall`](https://github.com/lagom/lagom/blob/e53bda5fd2f83aaa4cd639c9ad27d6053ede812f/service/scaladsl/server/src/main/scala/com/lightbend/lagom/scaladsl/server/PlayServiceCall.scala#L14-L14) is currently undocumented.

[2017-10-30 00:31] TimMoore commented on #954
Comment from my (now closed) pull request: https://github.com/lagom/lagom/pull/1073#issuecomment-340315997:

[2017-10-30 01:29] TimMoore commented on #166
IMHO the default should be to bind to 127.0.0.1 only, but offer a configuration parameter (system property) to override the bind IP.

This would be similar to how [Rails](http://guides.rubyonrails.org/command_line.html#rails-server) and [Django](https://docs.djangoproject.com/en/1.11/ref/django-admin/#django-admin-runserver) work by default.

Binding to 0.0.0.0 by default is considered a security

[2017-10-30 01:45] TimMoore commented on #166
There's a problem related to this one that could also be solved using the same approach: currently, each service registers itself to the service locator using the configured bind IP address.

You can see this by invoking `runAll` in any Lagom project, then querying the service registry in another terminal:

[code]

This means that the clients connect to "0.0.0.0" by default, which can cause proble

[2017-10-30 03:37] TimMoore commented on #1013
Thanks @saniyatech!

[2017-10-30 05:04] jroper opened #1080 "Scaladsl PersistentEntityTestDriver.runOne is not implemented"
https://github.com/lagom/lagom/blob/5176287a970ac03c140b89584f0685e517acda13/testkit/scaladsl/src/main/scala/com/lightbend/lagom/scaladsl/testkit/PersistentEntityTestDriver.scala#L140

I don't think there is any reason for this method to exist, there is no difference between `run(cmd)`, which takes a varargs, and `runOne(cmd)`. I think the method can just be deleted, binary compatibility can be ig

[2017-10-30 05:56] gmethvin commented on #1075
It would probably make sense to implement this in the core Play library directly instead of in Lagom. The relevant issue is https://github.com/playframework/playframework/issues/5782.

We could implement it in Play by providing a `JsonErrorHandler` and a `HtmlErrorHandler` (or some other way to switch) so you could easily plug in a json-only handler for your service if you prefer that. I think the

[2017-10-30 07:01] #1080 closed

[2017-10-30 07:03] ignasi35 opened #1082 "Setup MiMa for scaladsl projects"
Since `scaladsl` was added in Lagom `1.3.0` we will need to check compatibility as we already do with `javadsl`.

[2017-10-30 08:08] #1038 closed

[2017-10-30 20:34] longmuir opened #1083 "Lagom applications should start successfully even without a ServiceLocator present (e.g. runAll)"
Lagom services should be able to be started independently (with "run" instead of "runAll"), such that individual applications can be run and tested by themselves. This helps to better facilitate incremental development and allows individual services to be better isolated for more granular testing.

### Lagom Version (1.2.x / 1.3.x / etc)

1.3.9

### API (Scala / Java / Neither / Both)
Both

### Op

[2017-10-31 09:24] jroper opened #1084 "Improve path param serializer resolving error messages"
An easy mistake to make in Java when defining a service call is to declare the request mesoo,sage as a method parameter to the service call, for example:

[code]

The error isn't picked up until runtime, and the current error that gets thrown ends up being a guice binding error, which wraps this:

    IllegalArgumentException: Don't know how to serialize ID com.example.Foo

This is thrown here:

h

[2017-11-01 02:38] TimMoore opened #1085 "Restrict service names to valid RFC 952 host names"
It is commonly the case that Lagom service names are used to form DNS names in the production deployment environment. Currently, Lagom does not have any restrictions on service names, which makes it possible to write a service using a name that won't be deployable.

[RFC 952](https://tools.ietf.org/html/rfc952) defines valid host names:

   to 24 characters drawn from the alphabet (A-Z), digits (0

[2017-11-02 06:59] TimMoore opened #1087 "Allow configuration of the max frame length in the WebSocket client"
The Lagom WebSocket client creates a `WebSocketClientHandshaker` using a factory method that uses the default `maxFrameLength`:

https://github.com/lagom/lagom/blob/master/service/core/client/src/main/scala/com/lightbend/lagom/internal/client/WebSocketClient.scala#L95

https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/websocketx/WebSocketClientHandshakerF

[2017-11-03 05:42] jroper commented on #793
I don't think it can be completely automated, but I think it can be done in a three step process. The migration will have four phases, the first phase will be called "deploying", the second "migrating", the third "switching", the final "complete".

So, in the deploying phase:

* Declare a tag migration. Perhaps this can be a special type of `AggregateEventTagger`. It will have both the old tag and

[2017-11-03 05:49] jroper opened #1089 "Aggregate event tags from config"
We should allow (and perhaps recommend by default) that aggregate event tag names and sharding parameters be configured from config. This could be done by introducing a `ConfigAggregateEventTagger`, which simply has an id that reads config from `lagom.persistence.tags.$configId`, which would contain both a `tag-name` and `shards` parameter. Configuration regarding migrations of tags could be also

[2017-11-05 17:16] datalchemist commented on #1087
I have submitted a PR which adds a lagom.client.websocket.frame.maxLength config parameter and uses it for the WebSocketClient constructor.

[2017-11-06 06:19] TimMoore commented on #749
I finally got around to this :smile:

- https://github.com/lagom/activator-lagom-java-chirper has been redirected to https://github.com/lagom/lagom-java-chirper-example
- https://github.com/lagom/activator-lagom-java is no longer relevant, so I removed the content and updated the read-me file while leaving the name intact.
- https://github.com/lagom/activator-lagom-cargotracker is not actively mai

[2017-11-06 06:19] #749 closed

[2017-11-06 16:47] oddio opened #1091 "Allow overriding of ServiceRouter's exception logging"
It would be useful to be able to override the ServiceRouter's exception logging. Would also be useful to provide the override with access to the request header. This would allow the customized log event to include request context for tracing, etc...

It seems that this is not currently supported, as of Lagom 1.3.8.

Not super familiar with the Lagom code, but it looks to me like moving ServiceRout

[2017-11-06 16:57] benmccann commented on #749
That's great! Thanks Tim!

[2017-11-06 17:22] ignasi35 commented on #1082
Because of the deletion in https://github.com/lagom/lagom/pull/1081 we may need to require compatibility checks since `1.3.10` instead of `1.3.0`.

[2017-11-06 19:14] silver-soule commented on #1084
Hi @jroper , if no one else has taken this up yet I'd like to give this a try.

[2017-11-06 20:40] renatocaval commented on #1084
@silver-soule feel free to give a try. You are very welcome!

[2017-11-07 06:16] lokune commented on #720
@TimMoore , is mixed persistence supported for scala? If yes, how should I go about it? I have trouble with the GUICE binding part.

[2017-11-07 14:48] silver-soule commented on #1084
@renatocaval @jroper I've made the changes and pushed them to my forked repository, it would be great if someone could review them at https://github.com/silver-soule/lagom/commit/b181b40a047822c913a488aae9443bbd60a7d42b. I am not sure what should be the wrapping exception for IllegalArgumentException so for now I have left it as RuntimeException, any suggestions would be welcome.
Also regarding gi

[2017-11-07 16:30] ignasi35 commented on #1084
@silver-soule I suggest you create a Pull Request. I see you created your commit in `master` on your repo, I suggest you move the commit to a branch before sending the PR.

[2017-11-07 16:39] ignasi35 commented on #1091
related to https://groups.google.com/d/msgid/lagom-framework/8fbd0f26-61bf-4ee6-8f73-96b25d75d94f%40googlegroups.com?utm_medium=email&utm_source=footer

[2017-11-07 17:40] ignasi35 commented on #1089
I am divided on this one.

Making the shard count configurable from config makes changing the shard count very easy. I think we should make changing the number of shards _not easy_.

[2017-11-08 13:38] ignasi35 commented on #734
There's a secondary use case to this problem which is messages of the same stream (same key) should also be stashed.

Summing up:

- case 1: an offending message should be discardable
- case 2: an offending message should cause all messages under the same key (or some user-provided discrimination function) to be stashed for future processing.

[2017-11-08 14:37] acchaulk commented on #850
what do you want to see for testing of this feature?

[2017-11-09 04:27] TimMoore opened #1094 "[1.4.0] HikariCP warnings"
When updating a service that uses an RDBMS to Lagom 1.4.0, you see these warnings at startup:

[code]

This is caused by the fact that slick-hikaricp 3.2.1 depends on HikariCP 2.5.1 (before this property was deprecated) but Play-JDBC 2.6.7 evicts this version and brings in the latest HikariCP 2.7.2.

See https://github.com/slick/slick/issues/1812

[2017-11-09 04:31] TimMoore commented on #1094
We will need Slick to update to the latest HikariCP, support the new configuration and implement its own backward compatibility logic to only call the deprecated API if required by configuration.

Then, once this is released, we will also need to update [Akka Persistence JDBC](https://github.com/dnvriend/akka-persistence-jdbc/search?utf8=%E2%9C%93&q=initializationFailFast&type=) to use the new con

[2017-11-09 11:05] #1059 closed

[2017-11-09 11:12] ignasi35 commented on #1002
We've already hit Travis' 50min timeout (see https://github.com/lagom/lagom/pull/1092#issuecomment-343116487).

Current run times for each lagom task in travis are: (values have high deviation, this is a sample)

<img width="450" alt="screen shot 2017-11-09 at 12 01 57" src="https://user-images.githubusercontent.com/762126/32602507-901d9cd4-c546-11e7-81b1-c5e18a2e88d8.png">

There are several impr

[2017-11-09 14:54] #1082 closed

[2017-11-09 21:34] acchaulk commented on #850
I did a bit of testing for this feature, [forking the online-auction project](https://github.com/acchaulk/online-auction-java/commit/5a3d99c5e0dba7e0a3d123ac110c8b59a8e4a73a) and running it as cluster. Additionally, #808 ensures persistence is the default

[2017-11-10 02:05] TimMoore opened #1096 "Improve documentation on Cassandra read-side batch behavior and idempotence"
The documentation on [Cassandra read-side event handlers](https://www.lagomframework.com/documentation/1.3.x/scala/ReadSideCassandra.html#Event-handlers) currently contains the following:

This assumes the reader will have a certain level of knowledge of Cassandra batch behavior and will understand the distinction between exactly once and at least once processing in this context.

We could expand

[2017-11-10 05:37] TimMoore opened #1097 "Incorrect JDBC default thread pool and connection pool sizing"
Lagom's RDBMS support uses [Play JDBC](https://www.playframework.com/documentation/2.6.x/JavaDatabase) to configure a connection pool and configures Slick and Akka Persistence JDBC to use JNDI to locate it as a `DataSource`.

The default configuration for Play JDBC [configures](https://www.playframework.com/documentation/2.6.x/SettingsJDBC#Reference) a HikariCP connection pool with a fixed size of

[2017-11-10 06:21] BornToRain opened #1098 "lagom-internal-meta-project-cassandra (2.11.7)"
### Lagom Version 1.3.9

### API Scala

### Operating System Macos

### JDK 1.8

     java version "1.8.0_121"
     Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
     Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

### Bug Images

![image](https://user-images.githubusercontent.com/19318296/32645429-2cd7dfa4-c622-11e7-8dbf-5fec1be24fa7.png)

The bug is the same as this htt

[2017-11-10 10:33] #1002 closed

[2017-11-10 15:05] ignasi35 opened #1099 "ReadSideJdbcPC must not extend WriteSideJdbcPC"
When we try to mix non-JDBC write-side with a JDBCReadSide, the fact that [`ReadSideJdbcPersistentComponents extends WriteSideJdbcPersistentComponents`](https://github.com/lagom/lagom/blob/e9f9e82490218756c92cc6e9e9c3d7c116eb81ae/persistence-jdbc/scaladsl/src/main/scala/com/lightbend/lagom/scaladsl/persistence/jdbc/JdbcPersistenceComponents.scala#L42-L42) gets in the way. It's not a huge issue tha

[2017-11-10 16:02] ignasi35 commented on #850
I understand you started a branch of `online-auction`, configured to use `ddata` and started a completely blank system (not previously used)? IIUC you configured _only_ `user-service` to be clustered in dev mode, is that correct? Have you tried deploying on ConductR or minikube to scale any service?

 I am asking to scratch those tests from the list. We have other tests like:

* clone `online-auct

[2017-11-10 16:09] ignasi35 commented on #1098
Hi @BornToRain I'm closing this as it's a duplicate.

[2017-11-10 16:18] acchaulk commented on #850
@ignasi35 correct, I only ran `user-service` clustered locally. I did not try deploying on ConductR or minikube. I will try testing in the way you described above

[2017-11-11 14:45] #1084 closed

[2017-11-12 15:37] BornToRain commented on #908
Now I also have this problem, why haven't fixed it.

[2017-11-13 10:39] renatocaval commented on #908
@BornToRain it wasn't fixed because there are so many other things that have higher priority.

We labelled it as help:community which means that we believe it's something that should be done, but that we expect the interested parts to jump into it.

Please, feel free to send a PR if that's something that will help you move forward.

[2017-11-13 13:12] #1099 closed

[2017-11-14 14:19] ignasi35 commented on #720
@lokune we created an example for scala too: https://github.com/lagom/lagom-recipes/tree/master/mixed-persistence/mixed-persistence-scala-sbt

[2017-11-14 16:54] silver-soule commented on #908
@renatocaval I have raised a PR that should fix this

[2017-11-14 18:23] lokune commented on #720
@ignasi35 gracias! Exactly what I needed... I have been trying out Lagom and I am loving it so far.

[2017-11-15 15:41] Jacke opened #1104 "slick package missing from jdbc-persistence"
### Are you looking for help?

[code]

### Lagom Version (1.2.x / 1.3.x / etc)
1.3.10

### API (Scala / Java / Neither / Both)
"2.11.8" scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
macos 10.10

### JDK (Oracle 1.8.0_112, OpenJDK 1.8.x, Azul Zing)
[code]

### Library Dependencies
[code]

When I trying to lookup slick package from console, it's still missing

[2017-11-15 16:48] Jacke commented on #1104
Fixed by switching to M1 version

[2017-11-15 16:48] #1104 closed

[2017-11-15 18:20] acchaulk commented on #850
I just completed testing of this feature in the manner described above. I deployed the app with 1.3.10, clustered and scaled with elastic beanstalk. Then, I upgraded to 1.4.0-M2 and tested old/new data was accessible. Finally, I migrated to ddata with a cluster shutdown. Everything worked as anticipated.

[2017-11-15 23:25] Jacke opened #1105 "slick.jdbc.JdbcBackend.Database not injected Cannot find a value of type: [slick.jdbc.JdbcBackend.Database]"
### Lagom Version (1.2.x / 1.3.x / etc)
"1.4.0-M2

### API (Scala / Java / Neither / Both)
2.11.8
### Library Dependencies

If this is an issue that involves integration with another system, include the exact version and OS of the other system, including any intermediate drivers or APIs i.e. if you connect to a PostgreSQL database, include both the version / OS of PostgreSQL and the JDBC driver ve

[2017-11-16 00:42] renatocaval commented on #1105
@Jacke, can you please ask this on the mailing list or gitter channel instead?

This is clearly not a bug or feature request, but a configuration/wiring issue you are having. That's not a bug we need to fix.

The mailing list or  Gitter is more suitable for this kind of assistance.

Therefore, I'm closing this issue.

[2017-11-16 00:42] #1105 closed

[2017-11-16 04:37] TimMoore commented on #1104
@Jacke I would recommend trying 1.4.0-M2 rather than M1... some bugs are fixed and it is closer to the eventual final release of 1.4.0.

[2017-11-16 08:06] two10 commented on #58
any progress on this?

[2017-11-16 11:06] ignasi35 commented on #850
This is brilliant! Thanks @acchaulk

[2017-11-16 12:11] renatocaval commented on #58
@two10 no progress so far. I even don't know if there is a clear consensus about this.

Process Managers are so distinct that either it's preferable to build your own using actors directly or go for existing solutions like jBPM. My 2cc.

[2017-11-16 16:36] ignasi35 opened #1107 "Upgrading to 1.4.0-SNAPSHOT (post M2 pre RC1) breaks APC"
`akka-persistence-cassandra` [added new columns on the MV](https://github.com/akka/akka-persistence-cassandra#migrations-from-054-to-055) between version 0.54 and 0.55. The suggested workaround is to disable table auto-creation (I haven't tested it).

### Reproducible Test Case

Create a new project based on `lagom-java.g8` using Lagom `1.3.10`

[code]

Start the application and interact with it.

[2017-11-16 16:39] ignasi35 opened #1108 "sbt eagerly tries to connect to Docker daemon when starting"
### Reproducible Test Case

Create a new project based on lagom-java.g8 using Lagom 1.3.10

[code]

Start the application and interact with it. Stop the application. Upgrade the plugin version to 1.4.0-SNAPSHOT and start the application again.

NOTE: same issue applies migrating from 1.4.0-M2 to 1.4.0-SNAPSHOT.

### Actual Behavior

[code]

### Expected Behavior

None of the above.

[2017-11-17 00:29] TimMoore commented on #1108
This is a consequence of a bug in sbt-native-packager 1.3.1, fixed in 1.3.2 (https://github.com/sbt/sbt-native-packager/pull/1058).

I had updated Play (in 2.6.7) to depend on sbt-native-packager 1.3.1 because of other improvements to the way it builds Docker images (https://github.com/playframework/playframework/pull/7975). Unfortunately this was found, fixed and released in the time between when

[2017-11-17 15:36] ignasi35 commented on #742
(adding more details inline)

* Stop receiving new incoming communications. This includes:
  - Shutting down the listen port of the HTTP server
  - Turning off keep alive in the HTTP server, such that any requests that complete will have Connection: close added to them and will be closed
  - Closing any currently idle HTTP connections
  - Stopping any Lagom (as opposed to application) initiated/ma

[2017-11-17 22:24] erip opened #1110 "Add token buckets"
Akka Streams and Akka both implement token buckets. Lagom should too. 😄

[2017-11-19 22:10] TimMoore commented on #1110
For context: https://stackoverflow.com/questions/47292998/lagom-throttling-for-external-service

[2017-11-19 23:07] ignasi35 commented on #1110
@TimMoore the link seems to refer to a feature to add on the Lagom client but...

@erip your description seems to be wider and include throttling capabilities on both service and client sides, was that intentional?

Some points to discuss on this issue:

 * Throttling should be setup in req/s (but it's sometimes setup in rows/request or bytes/s or...).
 * the linked SO question refers to Lagom thr

[2017-11-19 23:16] erip commented on #1110
@ignasi35 Almost intentional. 😄  Clients definitely make sense given the context. If a client is defined for an external service, it should support throttling.

Service throttling also makes sense, but probably out of the scope of this issue. I can edit the issue to make this clearer or create a separate issue.

[2017-11-28 09:32] #1097 closed

[2017-11-28 15:42] ignasi35 commented on #1107
See https://github.com/akka/akka-persistence-cassandra#migrations-from-054-to-059.

We must upgrade APC to 0.59 and disable the use of metaevents:

[code]

[2017-11-28 15:43] ignasi35 commented on #1107
thanks @patriknw

[2017-11-28 16:01] renatocaval opened #1115 "Update documentation about how to configure JDBC DataSource"
We changed the way we configure the Slick Database using an `AsyncExecutor`, but we didn't provide any information about how to fine-tune it.

This issue must tackle that.

[2017-11-29 04:24] #1115 closed

[2017-11-29 09:13] #1107 closed

[2017-11-29 22:23] renatocaval opened #1120 "Make SlickProvider independent from DbApi"
Currently `SlickProvider` receives a `DbApi` in its constructor.

This was done to guarantee that the JNDI resources were correctly bound before the `SlickProvider` could be used.

However, when writing tests, we don't have access to `DbApi` and we are forced to pass a `null` resulting in null check inside `SlickProvider`

We could improve on this by removing this dependency and making the code le

[2017-11-30 01:31] #1098 closed

[2017-11-30 05:28] TimMoore opened #1122 "Publish artifacts for Scala 2.12"
Lagom `master` supports cross-building for Scala 2.11 and 2.12, but the release process still does not publish Scala 2.12 artifacts to Maven.

## Workaround

If you'd like to try Lagom with Scala 2.12 locally, you can publish a local `SNAPSHOT` version:

[code]
Then, depend on version `1.4.0-SNAPSHOT` to use it in your project.

[2017-11-30 09:05] #1087 closed

[2017-11-30 20:09] AndyMoreland commented on #409
For anyone who stumbles upon this, in 1.4.0-M2 I need:

[code]

[2017-12-01 11:39] ignasi35 opened #1124 "AkkaHTTP based Service Gateway retries requests by default"
#894 introduced an AkkaHTTP based Service Gateway. It exposes user-defined endpoints and proxies calls to appropriate downstream services.

The proxying is an `akka.http.scaladsl.Http().singleRequest(...)` which will retry a failed call 5 times.
See https://doc.akka.io/docs/akka-http/10.0.10/scala/http/client-side/host-level.html#retrying-a-request

In the sample application I'm observing this a s

[2017-12-01 12:24] ignasi35 commented on #1124
Related to https://github.com/lagom/lagom/pull/894

[2017-12-01 18:32] #1120 closed

[2017-12-04 09:45] #941 closed

[2017-12-04 11:16] #1124 closed

[2017-12-05 08:20] edmondo1984 commented on #1078
@ignasi35 can you give a little bit more background? Are you talking about documenting that in the code or in the official docs?

[2017-12-05 12:21] edmondo1984 opened #1129 "Consuming Kafka Streams from Lagom"
### Are you looking for help?

A typical use case when dealing with microservices is to build persistent views where you reconstruct locally a cache of other microservices data, typically by joining Kafka streams. Then, when a record in this stream gets updated, one can reactively invoke a service to perform some tasks.

Lagom however today allows to consume a single stream in reactive fashion, us

[2017-12-05 12:25] coco1979ka opened #1130 "Provide support for phantom-dsl"
Instead of writing CQL queries in lagom projects it would be nice if we could use phantom-dsl (see [https://github.com/outworkers/phantom](https://github.com/outworkers/phantom)) and use the lagom infrastructure for the Cassandra session management.

The benefits: The dsl provides a type safe way on querying and writing into the Cassandra database, for example:
[code]

[2017-12-05 12:30] edmondo1984 commented on #1129
An interesting article describing why one wants to implement this pattern is found on Confluent blog here: https://www.confluent.io/blog/leveraging-power-database-unbundled/ in particular in the section `Example:Building an Embedded, Materialised Views using the Kafka Streams API`. I also understand this might be more of a question for an Akka Streams - Kafka  repository

[2017-12-05 13:36] ignasi35 commented on #1078
We have many options. At the moment I'd favour one of these two:

1. add information and snippets in the [reference guide](https://www.lagomframework.com/documentation/1.3.x/java/ReferenceGuide.html) (not great)
2. (my favourite choice) create [a recipe](https://github.com/lagom/lagom-recipes) demonstrating how to use it.

[2017-12-05 13:47] ignasi35 commented on #1130
There are several things to consider:

1. should Phantom reuse Lagom's provided `CassandraSession`?
2. should Lagom promote the creation of a generic read side processor which happens to use Phantom (users wold have to handle offset within the Phantom provided Cassandra transaction).
3. How should this integrate with testkit?
4. Would it be possible to create a Phantom `Connector` that's `ServiceL

[2017-12-05 15:17] ignasi35 opened #1131 "Upgrade to Akka HTTP new Client Pool Infra"
Akka HTTP 10.0.11 [introduced](https://akka.io/blog/news/2017/12/01/akka-http-10.0.11-released) an experimental (opt-in) rewrite of the Http Client Pool Infrastructure.

This change could have an impact on the fix introduce in https://github.com/lagom/lagom/pull/1125 and generally in the Akka-based Service Gateway Lagom uses by default since Lagom 1.4.0.

[2017-12-05 17:12] ignasi35 commented on #1131
IIUC, the new implementation deprecates some settings that Lagom overrides on the service gateway.

[2017-12-05 20:10] Myrddin27 commented on #1122
@TimMoore I tried your workaround solution by pulling latest from master and running the above, but I'm hitting unresolved dependencies first on play-file-watcher:

[code]

So I tried bumping the file-watch version to the same version that's in play 2.6.7 (1.1.5) and now I'm getting unresolved on play's sbt-plugin:

[code]

Am I doing something wrong?

[2017-12-05 21:02] marcospereira commented on #1122
Hi @Myrddin27,

Thanks for reporting this. You are not doing anything wrong. The problem is the play-file-watch version used in the master branch. play-file-watch 1.0.0 was not cross-published to Scala 2.12, so this is not resolving. #1101 updates play-file-watch to the latest version so this is fixed there.

Anyway, I'm curious about why this problem was not perceived by Lagom's Travis build (sin

[2017-12-06 08:56] idoshamun opened #1132 "Support integration with GCP Pub/Sub using the Message Broker API"
https://cloud.google.com/pubsub/docs/overview

For me and I guess many other GCP users, it makes more sense to use a managed solution such as Pub/Sub than deploying a Kafka cluster.

Related: https://developer.lightbend.com/docs/alpakka/current/google-cloud-pub-sub.html

[2017-12-06 10:43] jroper commented on #1040
A first approach might be to define a setting `val lagomServiceTags = settingKey[Seq[String]](...)`. Then, redefine `runAll` to be an input task, which accepts a tag name. Then, in the implementation of `runAll`, filter all the discovered Lagom services by the tag, if supplied.

As for how to enable/disable Kafka/Cassandra/external services based on what tags are running, I'm not sure what the bes

[2017-12-06 11:29] idoshamun commented on #1132
I am up to the challenge but I think I will need guidance as I am currently doing my first steps in Lagom, though experienced with Scala & Akka

[2017-12-06 17:01] Myrddin27 commented on #1122
@marcospereira thank you for clarifying the issue with play-file-watch.

I'm able to run ```sbt +publishLocal``` and the publish completes successfully. Perhaps there is something going wrong with being specific ```sbt ++2.12.4 publishLocal```?

Pointing my project to the local publish (1.4.0-SNAPSHOT) results in more dependency issues related to conductr:

[code]

After digging around a little bi

[2017-12-06 18:12] lexn82 commented on #534
The issue still persist when testing, even after the fix. The test setup described in the [lagom documentation](https://www.lagomframework.com/documentation/1.3.x/scala/TestingServices.html) does not call the `load` method used to configure logging.

[code]

[2017-12-06 18:17] erip commented on #534
@lexn82 Agreed. In fact, I find that only the first test logs. Do you experience this, too?

[2017-12-06 18:31] lexn82 commented on #534
@erip I see logging for some initialization code, then nothing during tests.

[2017-12-06 23:20] #1050 closed

[2017-12-07 01:55] TimMoore opened #1133 "Document new akka.Done serializer from Akka 2.5.8"
See discussion in https://github.com/akka/akka/pull/24107

This new serializer will require some consideration for rolling updates.

- [ ] Add rolling upgrade instructions to the 1.4 migration guides (similar to existing instructions for `ClusterStartupTaskActor$Execute$` and `additional-serialization-bindings`... we should review these to ensure that we are providing a consistent approach for all

[2017-12-07 02:33] TimMoore commented on #1040
I guess we'll need to consider Maven support as well.

[2017-12-07 02:44] TimMoore commented on #1078
@ignasi35 why do you say that adding to the reference guide would not be great? I would think that all of the functionality in the framework would ideally be in the reference guide.

I think a recipe is a great idea as well. Probably the best starting point. I'll note that there is already one use of `PlayServiceCall` in the [i18n recipe](https://github.com/lagom/lagom-recipes/blob/master/i18n/hel

[2017-12-07 05:45] TimMoore commented on #1122
Looks like this was my mistake @Myrddin27. I thought I tried it before publishing, but now I see the same failure in play-file-watch (I cleaned my local Ivy cache in between, so that could have influenced it). I'm sorry about causing this confusion.

The right command to use is:

[code]

(Note that there must be a space between `+++` and `2.12.4`, and the quotes are required.)

The `play-file-watc

[2017-12-07 05:47] TimMoore commented on #1122
Some more helpful advice from a conversation with @marcospereira, capturing here for reference:

[2017-12-12 02:14] TimMoore opened #1135 "Maven Dependency POM only includes Scala 2.11 artifacts"
Lagom provides a POM that can be imported into a project's dependency management to set default versions for all Lagom components and dependencies.

As of Lagom 1.4.0-M3, this hardcodes all Scala artifacts to use the 2.11-compatible artifact ID.

http://repo1.maven.org/maven2/com/lightbend/lagom/lagom-maven-dependencies/1.4.0-M3/lagom-maven-dependencies-1.4.0-M3.pom

I don't think it would be idea

[2017-12-12 02:31] TimMoore commented on #1122
So it seems like I was even more mistaken than we already knew, and the 1.4.0-M3 release did in fact release 2.12 artifacts!

http://repo1.maven.org/maven2/com/lightbend/lagom/lagom-javadsl-api_2.12/1.4.0-M3/

You can use this now in your Lagom sbt projects:

- Update `project/plugins.sbt` to use `lagom-sbt-plugin` version `1.4.0-M3`
- Update `build.sbt` to change `scalaVersion in ThisBuild` to `s

[2017-12-12 02:31] #1122 closed

[2017-12-12 02:48] TimMoore commented on #534
@lexn82 / @erip could one of you open a new issue with details please?

[2017-12-12 08:44] ignasi35 commented on #1078
I think falling back to `PlayServiceCall` is a last resort and not the default use case for Lagom. I think `PlayServiceCall` usually points to a smell where Lagom is being used for something it wasn't meant to do. It should be documented on the reference guide but I think a careful wording should be chosen to make users aware of the fact that `PlayServiceCall` is often an opportunity for a redesig

[2017-12-12 09:03] edmondo1984 commented on #1078
I see at least intercepting the body and logging it as a good use case, at least for debugging purpose, right?

[2017-12-12 09:04] ignasi35 commented on #1078
I think that's a use case that's not great for production for data protection reasons.

Also, it sounds like a cross-cut feature I would try to implement as a Play Filter (instead of a `Call` composition)

[2017-12-12 09:05] edmondo1984 commented on #1078
I tried btw to implement that as a play filter but I was unable to find docs on how to consume the accumulator :)

[2017-12-12 09:10] ignasi35 commented on #1078
Hmm, I see. BTW: I think that can be achieve using logs setup alone. See https://github.com/lagom/lagom/issues/409 (but we digressed)

[2017-12-12 11:18] #1108 closed

[2017-12-12 14:16] erip commented on #534
@TimMoore I can try to do that today.

[2017-12-12 15:44] renatocaval commented on #1133
@TimMoore, I think we should enable the new serialization for `Done` because that's what we are doing for `ClusterStartupTaskActor$Execute` already.

The only difference is that rolling updates will work when updating from `1.3.10` to `1.4.0` in case of `ClusterStartupTaskActor$Execute`, but not for `akka.Done`. Unless it's backported to Akka `2.4.x` and we release Lagom `1.3.11`.

[2017-12-12 20:46] renatocaval commented on #1135
Option 1 won't work because we will end up with duplicates in the classpath.
Or am I missing something?

Using a variable for the Scala lib seems to be the best option. And I would use 2.12 as default for new projects.

[2017-12-12 20:47] ignasi35 opened #1136 "A Service's Server in Dev Mode doesn't pick up settings"
Lagom's [`LagomReloadableDevServerStart`](https://github.com/lagom/lagom/blob/e113da1852845da05bfa92bd265a3c6dd527b699/dev/reloadable-server/src/main/scala/play/core/server/LagomReloadableDevServerStart.scala#L26) (the base to dev mode's hot reload) is built in two pieces: a `Server` and an `Application`. This is no different from Play's [`DevServerStart`](https://github.com/playframework/playfram

[2017-12-12 20:50] ignasi35 commented on #1136
On a first attempt I tried something like:

[code]

but I think it's not working as I expected. I've found an issue when trying to read `play.server.netty.server-header` because Play defaults that to `null` which becomes `ConfigNull(null)` and I suspect fallback is not kicking in in that case but I really haven't investigated too much.

[2017-12-12 20:57] ignasi35 opened #1137 "Fix sbt-plugin/http-backend-switch tests"
In order to assert the proper backend is used, the `scipted` test in `sbt-plugin/http-backend-switch` is extracting the class name of the actual implementation of the HTTP backend from a stacktrace.

This should be undone and replaced with the usage of `play.server.akka.server-header` and `play.server.netty.server-header` and assert the returned header is the expected.

This requires #1136 fixed f

[2017-12-13 00:37] TimMoore opened #1138 "Update documentation on running with ConductR for Lagom 1.4.0"
- Requires `sbt-conductr` version ~~2.5.0~~ 2.5.1 (pending)
- ~~Need to add `with CircuitBreakerComponents` as well as `with ConductRApplicationComponents` (**TBD:** is this an intended change or a bug? [Discussion](https://github.com/typesafehub/conductr-lib/pull/162#issuecomment-351240570))~~ (Fixed in https://github.com/typesafehub/conductr-lib/pull/167)

We'll need to update both the main docu

[2017-12-13 06:59] TimMoore commented on #1135
I'll explain a little more about how this works. This generated POM is intended to be imported into a Lagom project's `dependencyManagement`. This does not actually add dependencies on all of the artifacts listed, it just says "if the project _does_ depend on one of these artifacts (including transitive dependencies), then use this version".

If it did put everything on the classpath, that would b

[2017-12-13 15:54] renatocaval commented on #1133
I had some extra thoughts about this.

Maybe we should not enable it by default because that will require a backport to Akka 2.4.x and a new Lagom release, 1.3.11.

We should only enable it on the templates and on 1.4.1.

[2017-12-13 22:40] TimMoore commented on #1133
I don’t think we can enable in 1.4.x because people might go straight from 1.3.x to the latest 1.4.x at some point in the future. Our next opportunity will be 1.5.0.

[2017-12-14 05:17] TimMoore commented on #1078
@edmondo1984 I agree that a filter would be better for that use case. See docs on [`EssentialFilter`](https://www.playframework.com/documentation/2.6.x/JavaHttpFilters#More-powerful-filters).

@ignasi35 #409 describes tracing from the client-side.

[2017-12-14 23:18] AndyMoreland opened #1139 "JDBC DataSource closed errors when reloading in development mode"
### Lagom Version

1.4.0M3

### API

Scala

### Operating System

`Linux host 4.13.0-19-generic #22-Ubuntu SMP Mon Dec 4 11:58:07 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

### JDK (Oracle 1.8.0_112, OpenJDK 1.8.x, Azul Zing)

[code]

### Library Dependencies

[code]

### Expected Behavior

Please describe the expected behavior of the issue, starting from the first action.

0. Update to lagom 1.4.0

[2017-12-18 04:38] TimMoore commented on #1139
Thanks for the report @AndyMoreland. I can reproduce this.

I also see a similar error when using JDBC for both write side and read side, but the exact exception is different:

[code]

The error is different because it's triggered somewhere else, but I think the underlying problem is probably the same: it's trying to use the old database instance and connection pool after reloading.

I think this

[2017-12-18 08:07] TimMoore commented on #1131
Let's wait until this is considered no longer experimental, and is enabled by default.

[2017-12-18 09:02] TimMoore commented on #1131
After more discussion with @ignasi35, it might be beneficial to opt in to it before it's forced on us, when we can still back out if we need to.

[2017-12-18 10:40] ignasi35 commented on #975
https://github.com/lagom/lagom/pull/1109 works the first half of this issue:

 - when the node is downed Akka's CS is invoked. That's done by Akka by default. #1109 adds a CS task to `exit` the JVM which invokes Play's JVM shutdown hook.
 - in Play 2.7, the JVM shutdown hook play provides will be replaced by CS across the board. If/When that happens, we can remove Lagom's task to `exit` the JVM on

[2017-12-18 14:47] #911 closed

[2017-12-18 14:59] #1139 closed

[2017-12-19 15:56] renatocaval commented on #850
I have done similar tests. Do we have anything else to test here?

I think we can close this ticket.

/cc @TimMoore  @ignasi35

[2017-12-19 16:12] renatocaval commented on #975
For the record...
I had a chat with @ignasi35 today about this.
`CoordinatedShutdown` has a feature to exit the JVM after shutdown, but it quits using `System.exit(0)`.

On PR #1109, Lagom exits the JVM using `System.exit(-1)` if and only if it's being shut down because of a node downing.

I modified the code to exit with `0` and tested with `ConductR` and I confirm that in that case, `ConductR` w

[2017-12-19 17:54] ignasi35 commented on #975
https://github.com/akka/akka/issues/24183

[2017-12-20 07:55] #850 closed

[2017-12-20 07:55] TimMoore commented on #850
Sounds good, thanks @renatocaval and @acchaulk!

[2017-12-20 09:12] renatocaval opened #1142 "Update akka-persistence-jdbc to version 3.1.0"
There is a new release for `akka-persistence-jdbc`. This release contains a few bug fixes and performance improvements.

https://github.com/dnvriend/akka-persistence-jdbc#changelog

[2017-12-20 14:30] olivierdeckers opened #1144 "Support for dynamic path parameters"
As explained in https://stackoverflow.com/questions/42485121/access-url-query-parameters-in-lagom, it is not possible to define service calls with dynamic query parameters.

While it is possible to convert a call to a POST call and encode the query parameters in the request body as a workaround, this doesn't always result in very intuitive api's. It's also not very REST-like to expose a search end

[2017-12-20 22:43] #1142 closed

[2017-12-21 00:07] TimMoore commented on #1138
Looks like the README at https://github.com/typesafehub/conductr-lib also needs updates.

[2017-12-21 00:08] TimMoore commented on #1138
and https://github.com/typesafehub/sbt-conductr

[2017-12-21 03:27] TimMoore commented on #1138
Fixes:

- https://github.com/lagom/lagom/pull/1148
- https://github.com/typesafehub/conductr-lib/pull/168
- https://github.com/typesafehub/sbt-conductr/pull/285

[2017-12-21 10:16] #1138 closed

[2017-12-21 11:39] #1135 closed

[2017-12-21 13:38] renatocaval opened #1149 "Update Scala version to 2.11.12 on 1.3.x branch"
This was done on master branch but cherry-picking is not possible (see #1146).

I'm adding this extra ticket on milestone 1.3.11 to make sure we don't forget to make a manul backporting.

[2017-12-22 01:05] #121 closed

[2017-12-22 01:05] #975 closed

[2017-12-22 06:37] patriknw commented on #933
That is correct if all serializers are backported. The migration guide is misleading, but there are a few serializers that haven't been backported so I'm not sure we can say that it will just work for everyone. Those missing are related to remote deployment so it will not be a problem for Lagom.

A serialized remote message (or persistent event) consists of serializerId, the manifest and the paylo

[2017-12-22 09:32] TimMoore opened #1152 "Document migrating to Scala 2.12"
Lagom 1.4.0-M3 and later include support for Scala 2.12. We should add a section to the migration guide about how to update if desired.

[2017-12-22 10:52] #1133 closed

[2017-12-24 15:53] edmondo1984 commented on #1078
I think tackling this issue is challenging for someone who doesn't know the Play source code and architecture. @TimMoore  / @ignasi35 it sounds like you have two different visions of how and when PlayServiceCall should be used: @ignasi35 in particular, what are acceptable conditions to resort to PlayServiceCall?

[2017-12-24 21:59] idoshamun opened #1155 "Netty conflicts of gRPC and Lagom"
I would like to use both [Google Cloud Java library](https://github.com/GoogleCloudPlatform/google-cloud-java) and Lagom. Both gRPC (dependency of Google Cloud Java) and Lagom use Netty but not the same version which cause conflicts and error while booting up:
`Caused by: java.lang.NoClassDefFoundError: Could not initialize class io.netty.handler.ssl.OpenSslEngine`

### Lagom Version (1.2.x / 1.3.

[2017-12-25 01:09] erip commented on #59
I think this can be closed, too.

[2017-12-25 06:51] edmondo1984 commented on #1155
I do not know anything about Google Cloud Java Library, but this sounds like a general dependency management problem: if you have jars A and B on the same classpath depending on a third jar C, you need to pick two version of A and B that are compiled towards binary-compatible versions of C. Example where C is akka library

- Jar A depends on akka 2.4.11
- Jar B depends on akka 2.4.6

Because Akka

[2017-12-25 08:11] idoshamun commented on #1155
I guess you are right, I'll wait for a few days maybe others were able to overcome with shading techniques or something. I'll close it in a few days

[2017-12-25 09:27] TimMoore commented on #1155
@idoshamun just to make sure we understand your description correctly, are you saying that it works OK with Lagom 1.4.0-M3 but fails with 1.4.0-RC1? Are you able to provide a project that reproduces the error?

[2017-12-25 11:05] idoshamun commented on #1155
@TimMoore yes it does work with 1.4.0-M3 but fails with 1.4.0-RC1. I will try create a simple lagom project but it will take a while

[2017-12-27 11:39] kotdv commented on #252
@TimMoore it is possible to reproduce if you increase the amount of shards. Let's say I have 3 services which are using Cassandra Read Side, I have no problems with embedded Cassandra, but if I start an unmanaged Cassandra with empty data or deploy it to Kubernetes I get several megabytes of logs with the same error spam during "bootstraping" process, when all the tables, keyspaces and offsets are

[2017-12-28 21:52] idoshamun commented on #1155
@TimMoore here is a project which reproduces this error with 1.4.0-RC1:
https://github.com/idoshamun/lagom-gcp-demo

Please note that when running the service an error is being thrown:
[code]

[2018-01-02 01:42] AndyMoreland opened #1158 "Service applications with initialization errors don't exit"
### Lagom Version
1.4.0-RC1

### API (Scala / Java / Neither / Both)

Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Ubuntu 17.10

### JDK (Oracle 1.8.0_112, OpenJDK 1.8.x, Azul Zing)

OpenJDK 1.8

### Expected Behavior

1. During `loadDevMode` or `load`, constructing my `Application` throws an exception (missing config, for example)
2. The JVM exits

This behavior seems de

[2018-01-03 04:05] TimMoore commented on #1158
@AndyMoreland this looks like it's running in development mode. It's intentional that the JVM does not exit in development mode... this is required for reloading to work. In development mode, all of the services run in the same JVM as the build tool (sbt or Maven) so you wouldn't want it to exit whenever there is an error in one service.

Are you saying that this is also not exiting when you run i

[2018-01-03 04:08] TimMoore commented on #1158
Also, you reported this in version 1.4.0-RC1. Just to clarify: have you tried in other versions, or only in 1.4.0-RC1? In other words, do you believe this is a regression in 1.4, or not sure?

[2018-01-03 04:24] TimMoore commented on #1158
@AndyMoreland I just did a quick check of a service that looks up a missing config key in the application constructor, and it did correctly exit the JVM in production mode. If you are seeing differently, please provide a reproduction and we can investigate. Thanks!

[2018-01-03 05:06] TimMoore commented on #1155
@idoshamun thank you for the example project... that's a big help!

The configuration error is happening because there is still a definition for `lagom-gcp-demo-stream-impl` in `build.sbt`, but the files have been removed. You can comment out or delete that definition to fix the error.

Also, as a testing note for anyone else trying to reproduce. You need to [specify a Google Cloud project ID](htt

[2018-01-03 05:46] TimMoore commented on #1155
The bad news is that I don't think there's a reasonable short-term solution to this in Lagom, but the good news is that there is an easy workaround you can apply in your own project.

Lagom depends on a newer but binary compatible version of Netty (4.1.18) than gRPC does (4.1.16). This isn't like the sort of problems we used to see when mixing Netty 4.0.x and 4.1.x, which are completely incompatib

[2018-01-03 05:56] TimMoore commented on #252
@kotdv can you open a new issue with reproduction details? Just to check: you are targeting different keyspaces in each service, right? Can you reproduce this with just one service?

[2018-01-03 08:33] idoshamun commented on #1155
@TimMoore thanks for your comprehensive response, this example project was created at late night hours which explains these mistakes. Anyway, I'll give your solution a shot as soon as I can and let you know

[2018-01-03 13:51] renatocaval commented on #59
Closing...

[2018-01-03 13:51] #59 closed

[2018-01-03 14:44] renatocaval opened #1160 "Set build to default to Scala 2.12"

[2018-01-03 16:11] kotdv commented on #252
@TimMoore yes I'm using a different keyspace for each service, so 3 keyspaces in total. I'm using a standalone single node Cassandra cluster with Stratio Lucene Index plugin and without it. Cassandra versions vary from 3.9.0 (which is what you are using in kubernetes deployment example), 3.0.14, 3.11.0, 3.11.1. I'm not sure if I can reproduce it with a single service, but I think it is possible.

[2018-01-03 18:56] AndyMoreland commented on #1158
@TimMoore this was caused by a code change in our codebase that was post 1.4.0-RC1, so uncertain if it is a regression. I observed this in our staging environment which is running with `load` (instead of `loadDev`). I will try to reproduce in a standalone build.

[2018-01-03 19:47] AndyMoreland commented on #1158
Yeah -- super weird. When I try to extract something that feels like a minimal repro the application does properly shut down. Will think about it more and try to come up with something.

[2018-01-03 23:18] TimMoore commented on #252
@kotdv it's not best to discuss this in the comments on a closed issue. If you think there's a reproducible bug in Lagom, please open a new issue. If you're not sure, please post a thread in the [Google Group](https://groups.google.com/forum/#!forum/lagom-framework).

[2018-01-04 03:32] erip commented on #412
@jroper Currently there's no way in the public API to pass `allowMissingApplicationConf` to `Configuration#load`. :(

[2018-01-04 03:41] TimMoore commented on #1158
If you have a stack trace from when it runs in staging, that might help find it.

Also, are you using some kind of process watcher/container scheduler such as ConductR or Kubernetes? Could it be that it is automatically restarting the service repeatedly when it fails on startup?

[2018-01-04 06:01] TimMoore opened #1162 "[1.4.0] log4j error in development mode"
In Lagom 1.4.0-RC1, create a new project from one of the Java or Scala giter8 templates and `sbt runAll`

It prints this error:

[code]

(On my terminal, it's cut off at the end)

This seems to happen right after starting Kafka, so it's possible that it comes from Kafka, but it's not obvious.

The error does not appear when running with Lagom 1.3.10.

[2018-01-04 06:03] TimMoore opened #1163 "[1.4.0] Cassandra logback warning in development mode"
In Lagom 1.4.0-RC1, create a new project from one of the Java or Scala giter8 templates and `sbt runAll`

As Cassandra starts, this warning is printed:

[code]

This does not happen with Lagom 1.3.10.

[2018-01-04 07:41] TimMoore opened #1164 "Document the service registration REST API"
This could be useful for integrating Lagom with other tools.

## Example

When you `runAll` you can interact with the service registry on `localhost:8000` using any HTTP client (curl or Postman are good options):

[code]

That shows all of the services registered by default in a new Lagom project created from the `lagom-scala.g8` template (Cassandra, Kafka, and the hello and hello-stream services)

[2018-01-04 14:33] kolemannix commented on #1078
I am not a Lagom contributor but perhaps I can shed some light here as a user. I have a ServiceCall for media uploads that must be streamed over HTTP. However, defining a `ServiceCall[Source[X], Y]` causes Lagom to use web sockets as the transport.

There is currently no way in Lagom for me to specify that I would like to stream over HTTP except to use a PlayServiceCall, which I am doing now, and

[2018-01-04 20:57] renatocaval commented on #1163
This is happening because since the changes on the Cassandra launcher we are doing the following:

1. We are extracting all the content from `cassandra-bundle.jar` (provided by the plugin launcher) into a jar inside `target/embedded-cassandra`. That jar contains a `logback.xml`
2. We explicitly add another `logback.xml` provided by the Cassandra Server module.

The files are quite similar, but the

[2018-01-05 05:56] #1163 closed

[2018-01-05 22:27] michael-read opened #1166 "CassandraReadSide.ReadSideHandlerBuilder 2nd setPrepare overwrites 1st"
### Lagom Version (1.2.x / 1.3.x / etc) 1.3.x
### API (Scala / Java / Neither / Both) Java
### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10) Ubuntu 16.04LTS
Linux HP-Spectre 4.10.0-42-generic #46~16.04.1-Ubuntu SMP Mon Dec 4 15:57:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### JDK (Oracle 1.8.0_112, OpenJDK 1.8.x, Azul Zing)
java version "1.8.0_151"
Java(TM) SE Runtime Environment (b

[2018-01-06 19:29] idoshamun commented on #1132
A WIP repo of the implementation:
https://github.com/elegantmonkeys/lagom-google-pubsub

Not yet tested, looking for reviewers and testers

[2018-01-09 13:11] renatocaval commented on #1166
I think that the problem here is not the `setPrepare` method, but `setEventHandler`.

People usually consider this to be the expect behavior of a `set` method, ie: you override the previously value (think setters and getters).

It's a good idea to have the warnings, +1 for it. On the other hand, I personally find it strange to add a warning on a `setter` method.

Alternatively, we could have the f

[2018-01-09 20:18] edmondo1984 opened #1168 "TestTopicComponents memoryless nature makes difficult to unit test topic producers"
### Lagom Version (1.4.X)

### Scala API

### Actual Behavior

Lagom supports unit testing of topic  producers as described in the docs here https://www.lagomframework.com/documentation/1.4.x/scala/MessageBrokerTesting.html . However because TestTopicComponents` ignores the Read Side offsets, this might produce spurious test failures which are really annoying in long builds

[2018-01-10 04:21] TimMoore opened #1170 "Update the recommendations for service integration testing"
The documentation on [testing services](https://www.lagomframework.com/documentation/1.3.x/scala/TestingServices.html#How-to-test-several-services) describes an potential integration testing feature (#38) and says that Lagom will provide support for this.

In discussions amongst Lagom maintainers, one of the reasons we have chosen not to prioritize this is that we don't think that running tests ag

[2018-01-10 07:25] renatocaval commented on #304
I have a fix for this and will submit a PR soon.

[2018-01-10 08:37] #932 closed

[2018-01-10 22:05] WadeWaldron opened #1173 "PathParamSerializers.required should use the class name being serialized/deserialized rather than a string"
### Lagom Version (1.3.x)
### API (Java)
### Expected Behavior

PathParamSerializers.required accepts an arbitrary String for "name". This is then used in log messages.

This string is arbitrary and not well documented. A better option would be for it to take the `.class` that is being serialized or deserialized. It could then use this information to generate the String for the log statements.

[2018-01-11 02:53] TimMoore commented on #720
#1100 fixes this problem for Scala in Lagom 1.4.0-M3 and later (and eventually 1.3.11, when it is released).

It's still a problem for Java due to conflicts in the Guice modules, requiring the workaround linked above.

[2018-01-11 16:34] idoshamun commented on #1155
@TimMoore your solution works perfectly!

[2018-01-12 02:20] TimMoore opened #1176 "Kafka broker configuration API"
Lagom services often need to use Kafka in ways that are not directly supported by the Message Broker API, by using lower-level [Akka Streams Kafka](https://doc.akka.io/docs/akka-stream-kafka/current/home.html) APIs directly.

In those cases, users currently need to write their own code to create and use `ProducerSettings` or `ConsumerSettings`. If wishing to use Lagom's `ServiceLocator` to locate

[2018-01-12 05:38] #657 closed

[2018-01-12 14:00] jorgheymans opened #1178 "[website] get started java-maven should better describe how to start the 'runAll' command"
Hi,

Looking at https://www.lagomframework.com/get-started-java-maven.html the command to start lagom is just "runAll"

![image](https://user-images.githubusercontent.com/193792/34878073-1407546a-f7a9-11e7-957f-489058d54ce4.png)

but it should really say "mvn lagom:runAll", that would work in all cases.

[2018-01-12 15:29] renatocaval commented on #1178
Thanks @jorgheymans!

We need to fix it on the lagom.github.io repo instead where we have the sources for the Lagom website. I'm closing it here so and opening another issue there.

[2018-01-12 15:29] #1178 closed

[2018-01-12 19:25] wfhartford opened #1180 "Service interfaces cannot be implemented in Kotlin"
### Lagom Version
1.4.0-RC1

### API
Java API using Kotlin

### Operating System
[code]

### JDK (Oracle 1.8.0_112, OpenJDK 1.8.x, Azul Zing)
[code]

### Library Dependencies
Kotlin version 1.2.10

### Expected Behavior
I should be able to define an interface which extends `Service` and implement the `descriptor()` method in the interface similar to the way I would in Java. The `HelloService` inte

[2018-01-14 21:42] TimMoore commented on #1155
Great to hear @idoshamun. I'll close this issue, because I don't think there's any good way to prevent this from happening at the framework level.

[2018-01-14 21:42] #1155 closed

[2018-01-14 22:32] TimMoore opened #1181 "Provide a way to declare Topics that don't use TopicProducer"
Lagom's message broker API requires services that declare a method returning `Topic` in their interface to implement it by returning a `Topic` provided by `TopicProducer`. Right now, that only supports topics produced from the event streams of persistent entities.

Many Lagom users need to use Kafka in other ways, but would still like to take advantage of the expressiveness of declaring topics on

[2018-01-15 20:08] #304 closed

[2018-01-17 21:09] #1152 closed

[2018-01-17 21:09] #1160 closed

[2018-01-17 22:17] TimMoore opened #1183 "ServiceTest does not remove its temporary files"
When you use Lagom's `ServiceTest` with Casandra enabled, it creates a temporary directory to store the Casandra data, config, and JAR.

In Lagom 1.4, this directory is never removed. You can find them in the `java.io.tmpdir` directory (which varies by platform).

### Lagom Version (1.2.x / 1.3.x / etc)

Tested 1.4.0-RC1

### API (Scala / Java / Neither / Both)

Both

### Expected Behavior

1. Cre

[2018-01-17 22:21] TimMoore commented on #1183
Although the mechanism for launching Cassandra has changed significantly between Lagom 1.3 and 1.4, I am also able to reproduce this with 1.3.10.

[2018-01-17 22:31] SattaiLanfear opened #1184 "UUID PathParamSerializer not bound"
### Lagom Version

1.3.0+

### API

Java

### Expected Behavior

1. Declare a ServiceCall expecting a UUID parameter.
2. Bind it to an endpoint in the descriptor.
3. Successfully invoke it with an appropriately provided UUID.

### Actual Behavior

1. ...
2. ...
3. Service fails to launch, complaining of not finding a UUID PathParamSerializer.

First mentioned here: https://groups.google.com/forum/

[2018-01-18 03:43] TimMoore opened #1185 "Confusing error message for empty service trait: "trait XService is abstract; cannot be instantiated""
If you try to create a server for a service trait with no service calls or topic calls defined (for example, in a test), you'll get a confusing error from the compiler that doesn't provide any indication of how to fix it: "trait XService is abstract; cannot be instantiated". Because this error is generated from within a macro defined by Lagom, it is very difficult to diagnose the problem.

I think

[2018-01-18 04:56] TimMoore commented on #1185
Ideally, we should fix this so that a service doesn't have to define any methods to work correctly, but if that turns out not to be possible, we should add validation with a useful error message.

[2018-01-18 16:36] acchaulk commented on #784
Does anyone have a fix for this? I am using PostgreSQL 9.6.3 and the 42.2.0 driver and I'm seeing the same issue

[2018-01-18 20:51] #1183 closed

[2018-01-18 22:40] TimMoore commented on #784
@acchaulk I think it will need to be fixed upstream in Slick

Are you able to use the older driver version as noted above? https://github.com/lagom/lagom/issues/784#issuecomment-307351360

[2018-01-19 06:58] jorgheymans commented on #862
:+1: very much !

How do you see streaming grpc calls fitting into Lagom ? I guess unary calls map nicely onto the already existing rest semantics in Lagom, but bidi streaming for example can go on forever between 2 services.

[2018-01-19 07:58] #785 closed

[2018-01-19 07:59] TimMoore commented on #785
Fixed in #973

[2018-01-19 16:38] acchaulk commented on #720
should this work for jdbc as well? I'm finding that the offset store works for jdbc, but my event handler is never hit even though events are there

[2018-01-19 16:39] acchaulk commented on #784
@TimMoore I got it to work, I was using a slick profile instead of the slick driver

[2018-01-25 08:43] pocman opened #1194 "Multiple Topic Publisher are not supported in one LagomApplication"
### Lagom Version (1.2.x / 1.3.x / etc)
1.3.10

### API (Scala / Java / Neither / Both)
Both

### Expected Behavior

Please describe the expected behavior of the issue, starting from the first action.

1. It should be possible to extends a LagomApplication with multiple TopicFactoryProvider and Publisher.
2. It should be possible to define which Provider/Publisher should implement each topic.
3. T

[2018-01-25 09:16] guizmaii commented on #1078
Here is some documentation I gave on Gitter:

For Lagom 1.3:
[code]

For Lagom 1.4:
[code]

[2018-01-25 10:16] #1162 closed

[2018-01-26 10:19] olivierdeckers opened #1195 "Upgrade to latest version of akka-persistence-cassandra"
Because of the unreliability of cassandra materialized views, the akka-persistence-cassandra plugin maintainers released a new version (0.80) that no longer uses materialized views.
Reference: https://gitter.im/akka/akka-persistence-cassandra?at=5a575801ba39a53f1a0208c7

Lagom should be upgraded to use this new version

We are planning to move a lagom-based application to production soon and would

[2018-01-29 01:47] TimMoore commented on #1195
Hi @olivierdeckers

We won't be able to turn this around that quickly. We also have to consider a migration path for other Lagom users who are already in production. Our plan is to update Lagom once more real-world testing and usage of the new akka-persistence-cassandra has happened and ship the update in Lagom 1.5 (likely in 2-3 months).

It is possible to update your own services to use the newe

[2018-01-29 02:04] TimMoore commented on #862
@jorgheymans I think gRPC streaming calls map well to Lagom's existing support for streaming over a WebSocket. Bidirectional streaming is already well supported.

[2018-01-29 12:11] jfspencer opened #1198 "Compile Error in 1.4 Tech Hub Starter (Scala)"
### Lagom : Version 1.4
### API : Scala

### Operating System : MacOS 10.13.3

### JDK : Oracle 1.8.0_152
java version "1.8.0_152"
Java(TM) SE Runtime Environment (build 1.8.0_152-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.152-b16, mixed mode)

### Library Dependencies

standard dependencies for the tech hub starter project

### Expected Behavior

1. download lagom scala 1.4 starter project

[2018-01-29 14:01] renatocaval commented on #1198
@jfspencer I just followed all the steps you described and I couldn't reproduce the error.

Are you sure you are using a recently downloaded version from Tech Hub? I suspect that you have a previous version (1.3.x) and that only the Lagom version was updated. Can you confirm it?

[2018-01-29 14:30] jfspencer commented on #1198
@renatocaval I just pulled a fresh copy from tech hub. I am getting the same compiler errors. are there dependencies outside of project folder that I need to clear/update? (pardon the ignorant question). I have downloaded a few demos, some of which were on 1.3.x version, like the auction example.

here is what sbt outputs from a fresh install.
`2012MBP:lagom sailer$ sbt runAll
[info] Loading proje

[2018-01-29 15:09] renatocaval commented on #1198
Ok, I think I found it.

You renamed the application to `LagomApplication`, but this name is already in use. There is already a trait named like `LagomApplication`.

Where you previously had:

[code]

[code]

When you renamed `HelloApplication` to `LagomApplication` you shadowed Lagom's `LagomApplication` abstract class.

And now you get the cyclic reference because your `LagomApplication` is tryi

[2018-01-29 15:47] jfspencer commented on #1198
@renatocaval ah yes, thanks! I was using "lagom" as the project name from the tech hub page. should have figured it would have caused name collisions :)

[2018-01-29 15:47] #1198 closed

[2018-01-29 16:27] renatocaval commented on #1195
I did a quick test and got this:

[code]

We need to check how the table is being create. Some extra tweaking will be needed.

[2018-01-30 00:16] jroper commented on #862
It maps perfectly, see:

https://www.lagomframework.com/documentation/1.4.x/java/ServiceDescriptors.html#Streamed-messages

A gRPC streamed call is just a Lagom service call with request/response message types of `Source[Foo]`, which is supported in Lagom today already. When I investigated gRPC last year I was incredibly surprised at just how perfectly gRPC fits what we were already doing.

[2018-01-30 01:30] AndyMoreland opened #1199 "1.4.0 jdbc read side and cassandra write side attempts to boot JdbcAsyncWriteJournal"
### Lagom Version
1.4.0. I am updating from 1.4.0-RC1 where this issue doesn't happen.

### API (Scala / Java / Neither / Both)
Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

[code]

### JDK (Oracle 1.8.0_112, OpenJDK 1.8.x, Azul Zing)

[code]

### Library Dependencies

[code]

### Expected Behavior

1. Create an application CAKE with:
[code]
2. Start application
3. Have th

[2018-01-30 07:47] TimMoore commented on #1198
I think there's a way to add some validation to this field, so we should disallow values that are known to be broken like this.

[2018-01-30 19:13] AndyMoreland commented on #1199
I am not sure if this is a symptom or a cause. I dumped the `initialConfiguration` from the `playContext` in the app boot. In 1.4.0 (where things are broken), I found this in the `akka.persistence` block:

[code]

in 1.4.0-RC1:

[code]

[2018-01-30 19:18] AndyMoreland commented on #1199
Adding this configuration resolves the issue:

[code]

[2018-01-31 09:13] TimMoore commented on #1199
@AndyMoreland thanks for all of the additional detail. We really appreciate the effort you made in investigating this! This was an oversight in our documented workaround, and the configuration change you made is the best solution for the time being.

I've opened a pull request to update the relevant recipes: https://github.com/lagom/lagom-recipes/pull/18

The explanation here is that both the Cass

[2018-01-31 09:13] #1199 closed

[2018-02-01 09:06] TimMoore commented on #1195
My quick test is working OK. We'll have to compare notes :smile:

All I did was:

1.  create a new project with `sbt new lagom/lagom-scala.g8`,
2. Added these to the `hello-impl` `libraryDependencies`:
[code]
3. Added this to `hello-impl/src/main/resources/application.conf`:
[code]
4.  `sbt runAll`
5.  Tested with a few `curl` commands:
[code]

I also tried connecting with `cqlsh` to make sure it

[2018-02-01 09:08] TimMoore commented on #1195
On closer look at the readme for akka-persistence-cassandra 0.80, that error looks like what I would expect if you ran the new version against an unmigrated database.

[2018-02-01 09:11] renatocaval commented on #1195
@TimMoore I did exactly what you did, but it's possible that my target folder still have the cassandra files from a previous run. I didn't pay attention to that.

Re-running my project now...

[2018-02-01 09:54] renatocaval commented on #1195
I confirm that it works. I probably had old files on my target folder.

[2018-02-01 19:21] sepulrator commented on #759
+1

[2018-02-02 10:17] ignasi35 commented on #1194
I think this is related to #650 . In that issue, we are trying to support different configurations for a single provider. In _this_ issue, I understand the purpose is to support different implementation (aka, kafka vs rabbitmq vs jms vs ...)

[2018-02-03 16:45] GervaisYO opened #1203 "lagom-multipart-bug"
Hi,
we are currently using Lagom to implement our microservices.
One of them as the responsability to store file (pictures). The microservice responsible for storing pictures is using the code come from a James Roper example given here: https://groups.google.com/forum/#!topic/lagom-framework/HR5RbbqsJr8 .

When we do multiple multipart/form-data requests, at some point one will lock and will never

[2018-02-04 21:27] daggerok opened #1204 "fresh sbt project lagom/lagom-scala.g8 is failing on runAll"
Hello, I'm using that article: https://www.lagomframework.com/documentation/1.4.x/java/GettingStartedSbt.html

I just wanna run it to learn by example with embedded a Cassandra/Kafka in the dev mode. Should I configure it somehow in addition to generated project to make it work?

### Can't successfully bootstrap with `sbt runAll`

[code]

[code]

### Lagom Version (1.2.x / 1.3.x / etc)

latest (1.

[2018-02-05 08:22] TimMoore commented on #1204
@daggerok unfortunately, the latest version of Cassandra is incompatible with recent versions of JDK8 and causes the initial `AbstractMethodError`. Because the database can't start, it causes other subsequent failures.

We're waiting for the Cassandra maintainers to release a new version with the fix. We'll update Akka Persistence Cassandra and Lagom as soon as we can, once this is available.

See

[2018-02-05 16:57] daggerok commented on #1204
Hello @TimMoore ,

Thanks for response

[2018-02-05 17:57] edmondo1984 commented on #438
What about read Sides that triggers back calls to the read side, is this even reasonable ?

Imagine you have your entity which models Price, where the Price can refer either to a single product or to a product bundles.  Every time you update the price for a given bundle, you also need to update the price for all the product bundles that include that product. You do not need strong consistency here

[2018-02-06 14:01] two10 opened #1205 "Unable to override lagom kafka parameters"
### Lagom Version (1.3.10)
### API (Both)
### Operating System (Centos 7)

### JDK (OpenJDK 1.8.x)

### Expected Behavior
Official Documentation of Kafka Client integration is:
[code]
After using this in my project with application.conf  i should be able to update service name and brokers in `KafkaConfig` object

### Actual Behavior
Using the above steps i was unable to overrdie the service name a

[2018-02-06 18:26] tjsb opened #1206 "Strange ServiceCall request data duplication issue after migrating from Lagom 1.3.10 to 1.4.0"
### Lagom Version 1.4

### API Scala

### Operating System Ubuntu 16.04

### JDK openjdk version "1.8.0_151"

### Library Dependencies

val macwire = "com.softwaremill.macwire" %% "macros" % "2.2.5" % "provided"
val scalaTest = "org.scalatest" %% "scalatest" % "3.0.1" % Test
val nscalaTime = "com.github.nscala-time" %% "nscala-time" % "2.16.0"
val serviceLocatorDns = "com.lightbend" %% "lagom13-sc

[2018-02-07 13:51] TimMoore commented on #1206
@tjsb thanks for the report. Can you provide a project that reproduces the problem?

[2018-02-07 16:10] tjsb commented on #1206
Hi Tim,

Unfortunately it's going to be difficult to provide a project at the moment as I'm pretty pushed for time. However, I'm hoping that the snippet below of our Service descriptor and ServiceCall handler in our Impl project may be of some use. As far as I can tell, our usage isn't particularly weird - Cassandra persistence, some CORS stuff with Kafka streams. It was behaving as if the request

[2018-02-08 09:44] TimMoore commented on #1203
@GervaisYO can you try switching to the akka-http based Service Gateway?

Add this to your `build.sbt`:

[code]

We've seen this fix problems similar to this in the past. Note that the akka-http based Service Gateway is the default implementation starting with Lagom 1.4.0.

[2018-02-08 09:48] TimMoore commented on #1158
@AndyMoreland is this still an issue for you?

[2018-02-08 23:26] fkoehler opened #1209 "Unhandled SaveSnapshotSuccess event in PersistentActor"
In our production Cinnamon dashboard we see a lot of the following unhandled messages generating metrics in the board:

[code]

It looks like the PersistentEntity actor is not handling the SaveSnapshotSuccess message in all the cases. It just creates DEBUG logging but it still is worrying to see this in the Cinnamon Dashboard and it looks fishy.

### Lagom Version (1.2.x / 1.3.x / etc)

1.4.0

###

[2018-02-09 13:34] olivierdeckers commented on #1195
I deployed a microservice to our staging environment with akka-persistence-cassandra 0.80.

I bumped into one problem: we get the error message "Writing tags has failed. This means that any eventsByTag query will be out of date. The write will be retried." containing the exception "com.lightbend.lagom.internal.persistence.cassandra.NoServiceLocatorException: Timed out after 2 seconds while waiting

[2018-02-09 19:21] WadeWaldron opened #1212 "Lightbend Config Checker warns on Lagom settings."
### Lagom Version (1.2.x / 1.3.x / etc)
Lagom 1.4.0

### API (Scala / Java / Neither / Both)
Scala

### Expected Behavior

Lightbend Config Checker should not warn for settings defined in Lagom

### Actual Behavior

The Lightbend Config Checker detects the following error in configuration:

This setting appears to come from here:

https://github.com/lagom/lagom/blob/master/cluster/core/src/main/re

[2018-02-09 20:17] GervaisYO commented on #1203
Thank you Tim,

i tried that and it seems to work.

[2018-02-12 09:51] TimMoore commented on #1195
A bug has been discovered in Akka Persistence Cassandra 0.80 that will affect most Lagom users: https://github.com/akka/akka-persistence-cassandra/issues/312#issuecomment-364868141

Lagom performs snapshots by default, but it is possible to disable them in `application.conf` with:

[code]

(See https://github.com/lagom/lagom/blob/master/persistence/core/src/main/resources/reference.conf#L14-L17)

[2018-02-12 11:18] ignasi35 commented on #706
I think this is doable with relatively low effort. When [querying a `Route` on the ServiceGateway](https://github.com/lagom/lagom/blob/7956d9b3532ff79c9247182de92fe43d94270cc9/dev/service-registry/service-locator/src/main/scala/com/lightbend/lagom/gateway/ServiceGateway.scala#L116) to determine if there's a service providing it when the request method is `OPTIONS`, instead of using the `method` of

[2018-02-12 21:48] WadeWaldron opened #1213 "Lagom MessageBrokerTesting docs are incomplete"
### Are you looking for help?

### Lagom Version (1.4.x)

### API (Scala)

### Description

This page:

https://www.lagomframework.com/documentation/1.4.x/scala/MessageBrokerTesting.html

Provides examples on how to test Lagom Message Brokers. However, it references things that are not defined in this section of the docs (or possibly any section of the docs).

Specifically it refers to `PublishApp

[2018-02-12 22:00] WadeWaldron opened #1214 "Message Broker API Docs are incomplete."
### Lagom Version (1.4.x)
### API (Scala)
### Description

The documentation on the Message Broker API found here: https://www.lagomframework.com/documentation/1.4.x/scala/MessageBrokerApi.html

is lacking some key information needed to use the MessageBroker.

Specifically, you will find on this page that it references a `HelloEventTag.INSTANCE` however that is not defined anywhere on this page (o

[2018-02-12 22:04] WadeWaldron opened #1215 "Persistence Documents don't provide a clear example of how to wire your application to support Persistence"
### Lagom Version (1.4.x)
### API (Scala)
### Description

In order to properly wire an application to use Persistent Entities with Cassandra, you must have your application include the `WriteSideCassandraPersistenceComponents`. This does not seem to be documented anywhere. Presumably there is a similar issue with using JDBC.

It may be possible to figure it out using a combination of sample appli

[2018-02-13 01:40] TimMoore commented on #1203
Thanks for confirming, @GervaisYO.

Since we have moved to the akka-http implementation by default, we don't intend to fix bugs in the netty implementation and will be deprecating it in the next major version of Lagom. So, I'll close this issue now, but please let us know if you run into any problems with the akka-http gateway implementation.

[2018-02-13 01:40] #1203 closed

[2018-02-13 01:50] TimMoore opened #1216 "Deprecate Netty implementation of the development service gateway"
Lagom 1.3.7 introduced an experimental new implementation of the development mode service gateway based on Akka HTTP (#894).

In Lagom 1.4.0, this became the default implementation (#912) but with the [ability to revert to the Netty implementation](https://www.lagomframework.com/documentation/1.4.x/java/ServiceLocator.html#Default-gateway-implementation) if needed.

We have seen that the Akka HTTP